In [1]:
!pip install psycopg2
import pandas as pd
import numpy as np
import xmltodict
import collections
import xml.etree.ElementTree as ET
import psycopg2 as ps
#from config import config

Requirement already satisfied: psycopg2 in c:\programdata\anaconda3\lib\site-packages (2.9.3)

In [2]:
#load datasets
matchdata = pd.read_csv('challenge3_data/matchdata.csv',encoding='latin-1',skipinitialspace = True)
players_attributes = pd.read_csv('challenge3_data/players_attributes.csv')

In [3]:
matchdata.head()

,id,league_id,league_name,season,date,home_team_id,home_team_short_name,home_team_long_name,away_team_id,away_team_short_name,...,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession
0,7049,4769,France Ligue 1,2014/2015,08/08/2014 00:00,9837,REI,Stade de Reims,9847,PSG,...,35724.0,49677.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>36</comment><event...
1,7050,4769,France Ligue 1,2014/2015,09/08/2014 00:00,7794,BAS,SC Bastia,8592,MAR,...,254308.0,38098.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>40</comment><event...
2,7051,4769,France Ligue 1,2014/2015,09/08/2014 00:00,4087,ETG,Évian Thonon Gaillard FC,7819,CAE,...,289155.0,210466.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><event_incident_typefk>123</even...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>63</comment><event...
3,7052,4769,France Ligue 1,2014/2015,09/08/2014 00:00,9747,GUI,En Avant de Guingamp,9853,ETI,...,46349.0,26374.0,<goal><value><comment>p</comment><stats><penal...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>37</comment><event...
4,7056,4769,France Ligue 1,2014/2015,09/08/2014 00:00,10249,MON,Montpellier Hérault SC,9827,BOR,...,41238.0,40707.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>54</comment><event...

In [4]:
matchdata.dtypes

id                        int64
league_id                 int64
league_name              object
season                   object
date                     object
home_team_id              int64
home_team_short_name     object
home_team_long_name      object
away_team_id              int64
away_team_short_name     object
away_team_long_name      object
home_team_goal            int64
away_team_goal            int64
home_player_1             int64
home_player_2           float64
home_player_3           float64
home_player_4           float64
home_player_5           float64
home_player_6           float64
home_player_7           float64
home_player_8           float64
home_player_9           float64
home_player_10          float64
home_player_11          float64
away_player_1           float64
away_player_2           float64
away_player_3             int64
away_player_4           float64
away_player_5           float64
away_player_6           float64
away_player_7           float64
away_player_8           float64
away_player_9           float64
away_player_10          float64
away_player_11          float64
goal                     object
shoton                   object
shotoff                  object
foulcommit               object
card                     object
cross                    object
corner                   object
possession               object
dtype: object

In [5]:
#Identify missing values
matchdata.isna().sum()

id                       0
league_id                0
league_name              0
season                   0
date                     0
home_team_id             0
home_team_short_name     0
home_team_long_name      0
away_team_id             0
away_team_short_name     0
away_team_long_name      0
home_team_goal           0
away_team_goal           0
home_player_1            0
home_player_2            3
home_player_3            1
home_player_4            2
home_player_5            1
home_player_6            4
home_player_7            3
home_player_8            1
home_player_9            3
home_player_10           8
home_player_11           9
away_player_1            1
away_player_2            3
away_player_3            0
away_player_4            2
away_player_5            2
away_player_6            4
away_player_7            2
away_player_8            4
away_player_9            2
away_player_10           4
away_player_11          17
goal                     0
shoton                   0
shotoff                  0
foulcommit               0
card                     0
cross                    0
corner                   0
possession               0
dtype: int64

In [6]:
#get numeric columns
numeric = matchdata.select_dtypes(include=np.number)
numeric_columns = numeric.columns

In [7]:
#fill missing values with 0
matchdata[numeric_columns] = matchdata[numeric_columns].fillna(0)

In [8]:
matchdata.isna().sum()

id                      0
league_id               0
league_name             0
season                  0
date                    0
home_team_id            0
home_team_short_name    0
home_team_long_name     0
away_team_id            0
away_team_short_name    0
away_team_long_name     0
home_team_goal          0
away_team_goal          0
home_player_1           0
home_player_2           0
home_player_3           0
home_player_4           0
home_player_5           0
home_player_6           0
home_player_7           0
home_player_8           0
home_player_9           0
home_player_10          0
home_player_11          0
away_player_1           0
away_player_2           0
away_player_3           0
away_player_4           0
away_player_5           0
away_player_6           0
away_player_7           0
away_player_8           0
away_player_9           0
away_player_10          0
away_player_11          0
goal                    0
shoton                  0
shotoff                 0
foulcommit              0
card                    0
cross                   0
corner                  0
possession              0
dtype: int64

In [9]:
matchdata.goal.unique()[1]

'<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>6</event_incident_typefk><coordinates><value>21</value><value>16</value></coordinates><elapsed>9</elapsed><subtype>volley</subtype><player1>192711</player1><sortorder>1</sortorder><team>7794</team><id>3633614</id><n>222</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>406</event_incident_typefk><coordinates><value>25</value><value>64</value></coordinates><elapsed>12</elapsed><player2>280965</player2><subtype>header</subtype><player1>38098</player1><sortorder>0</sortorder><team>8592</team><id>3633655</id><n>225</n><type>goal</type><goal_type>n</goal_type></value><value><comment>o</comment><stats><owngoals>1</owngoals></stats><event_incident_typefk>115</event_incident_typefk><coordinates><value>19</value><value>63</value></coordinates><elapsed>17</elapsed><player1>31014</player1><sortorder>2</sortorder><team>7794</team><id>3633733</id><n>235</n><type>goal</type><goal_type>o</goal_type></value><value><comment>p</comment><stats><penalties>1</penalties></stats><event_incident_typefk>20</event_incident_typefk><coordinates><value>23</value><value>62</value></coordinates><elapsed>62</elapsed><player1>38098</player1><sortorder>0</sortorder><team>8592</team><id>3634529</id><n>287</n><type>goal</type><goal_type>p</goal_type></value><value><comment>p</comment><stats><penalties>1</penalties></stats><event_incident_typefk>20</event_incident_typefk><coordinates><value>23</value><value>8</value></coordinates><elapsed>66</elapsed><player1>213319</player1><sortorder>1</sortorder><team>7794</team><id>3634600</id><n>290</n><type>goal</type><goal_type>p</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><coordinates><value>15</value><value>6</value></coordinates><elapsed>73</elapsed><player2>40197</player2><subtype>shot</subtype><player1>192711</player1><sortorder>3</sortorder><team>7794</team><id>3634705</id><n>300</n><type>goal</type><goal_type>n</goal_type></value></goal>'

In [10]:
def parse_goal(goal, home_id, away_id):
    '''
    The function parses the goal values from xml text to a tuple
    Args:
        goal -> xml text with multiple tags and goal info
        home_id -> the id of the home team of the match that goal was scored in
        away_id -> the id of the away team
    Returns:
        a list of two lists: the first one is the home goals list and the second is the away goals list.
        each list consists of a number of lists correspond to each goal.
        list format: (time of the goal in mins-int, scorer id-int, assisstant id-int, goal type-string)
    '''
    if pd.notna(goal):
        if xmltodict.parse(goal)['goal'] != None:
            goal_dict = xmltodict.parse(goal)['goal']['value']
            #print(goal_dict)
            home_goals = list()
            away_goals = list()
            home_time_elapse = list()
            #away_time_elapse = list()
            if type(goal_dict) == collections.OrderedDict:
                goal_dict = [goal_dict]
            for g in goal_dict:
                try:
                    p1 = g['player1']
                except:
                    p1 = "0"
                try:
                    p2 = g['player2']
                except:
                    p2 = "0"                
                g_info = [g['elapsed'],p1, p2, g['comment']]
                if 'del' not in g.keys():
                    if int(g['team']) == home_id:
                        home_goals.append(g_info)
                        #home_time_elapse.append(g_info)
                    else:
                        away_goals.append(g_info)
                        #away_time_elapse.append(g_info)
            return home_goals, away_goals

In [11]:
matchdata["goals_info"] = matchdata.apply(lambda row: parse_goal(row.goal, row.home_team_id, row.away_team_id), axis= 1)

In [12]:
odd_goals = matchdata[matchdata.goals_info.isnull() == False]

In [13]:
odd_goals[odd_goals.home_team_goal+odd_goals.away_team_goal != odd_goals.goals_info.apply(lambda x: len(x[0])+len(x[1]))][['id','goals_info', 'home_team_goal', 'away_team_goal']].head()

,id,goals_info,home_team_goal,away_team_goal
0,7049,"([[22, 94321, 89476, n], [34, 46653, 159839, n...",2,2
13,4015,"([[84, 187266, 0, npm]], [[52, 163200, 21864, ...",0,1
16,4018,"([[30, 37169, 0, npm]], [[90, 361315, 194165, ...",0,1
21,7168,"([[10, 279879, 21414, n], [45, 210184, 0, n], ...",2,1
25,7163,"([[72, 0, 0, dg]], [[19, 40659, 128456, n], [6...",0,2

In [14]:
matchdata

,id,league_id,league_name,season,date,home_team_id,home_team_short_name,home_team_long_name,away_team_id,away_team_short_name,...,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,goals_info
0,7049,4769,France Ligue 1,2014/2015,08/08/2014 00:00,9837,REI,Stade de Reims,9847,PSG,...,49677.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>36</comment><event...,"([[22, 94321, 89476, n], [34, 46653, 159839, n..."
1,7050,4769,France Ligue 1,2014/2015,09/08/2014 00:00,7794,BAS,SC Bastia,8592,MAR,...,38098.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>40</comment><event...,"([[9, 192711, 0, n], [17, 31014, 0, o], [66, 2..."
2,7051,4769,France Ligue 1,2014/2015,09/08/2014 00:00,4087,ETG,Évian Thonon Gaillard FC,7819,CAE,...,210466.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><event_incident_typefk>123</even...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>63</comment><event...,"([], [[12, 319300, 289155, n], [32, 210466, 0,..."
3,7052,4769,France Ligue 1,2014/2015,09/08/2014 00:00,9747,GUI,En Avant de Guingamp,9853,ETI,...,26374.0,<goal><value><comment>p</comment><stats><penal...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>37</comment><event...,"([], [[39, 26374, 0, p], [90, 26374, 0, n]])"
4,7056,4769,France Ligue 1,2014/2015,09/08/2014 00:00,10249,MON,Montpellier Hérault SC,9827,BOR,...,40707.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>54</comment><event...,"([], [[17, 40707, 352833, n]])"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,12827,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8636,INT,Inter,8534,EMP,...,282723.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>54</comment><stats...,"([[49, 30991, 282770, n], [53, 282770, 239219,..."
1886,12828,10257,Italy Serie A,2014/2015,31/05/2015 00:00,7943,SAS,Sassuolo,10233,GEN,...,166575.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>35</comment><stats...,"([[4, 364520, 27685, n], [19, 166595, 364520, ..."
1887,12831,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8686,ROM,Roma,8540,PAL,...,309726.0,<goal><value><comment>p</comment><stats><penal...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>53</comment><stats...,"([[85, 30714, 41433, n]], [[35, 270774, 0, p],..."
1888,12832,10257,Italy Serie A,2014/2015,31/05/2015 00:00,9882,SAM,Sampdoria,10167,PAR,...,41413.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>62</comment><stats...,"([[54, 362195, 317156, n], [79, 25587, 33639, ..."
1889,12833,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8529,CAG,Cagliari,8600,UDI,...,38920.0,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>55</comment><stats...,"([[13, 79253, 0, n], [19, 203739, 192079, n], ..."

In [15]:
matchdata.card.unique()[1]

'<card><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>19</elapsed><card_type>y</card_type><player1>42693</player1><sortorder>1</sortorder><team>7794</team><n>233</n><type>card</type><id>3633757</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>64</elapsed><card_type>y</card_type><player1>280965</player1><sortorder>2</sortorder><team>8592</team><n>288</n><type>card</type><id>3634568</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>82</elapsed><card_type>y</card_type><player1>40197</player1><sortorder>1</sortorder><team>7794</team><n>313</n><type>card</type><id>3634847</id></value><value><comment>y</comment><stats><ycards>1</ycards></stats><event_incident_typefk>70</event_incident_typefk><elapsed>87</elapsed><card_type>y</card_type><player1>131991</player1><sortorder>1</sortorder><team>7794</team><n>318</n><type>card</type><id>3634911</id></value></card>'

In [16]:
def parse_card(crd):
    '''
    The function parses the card values from xml text to a tuple
    Args:
        crd -> xml text with multiple tags and card info
    Returns:
        a list of lists: each one represents the essential card info
        list format: (time at which the card is recorded in mins-int, card type)
    '''
    if pd.notna(crd):
        if xmltodict.parse(crd)['card'] != None:
            card_dict = xmltodict.parse(crd)['card']['value']
            if type(card_dict) == collections.OrderedDict:
                card_dict = [card_dict]
            card_info = list()
            for c in card_dict:
                try:
                    p1 = c['player1']
                except:
                    p1 = "0"
                c_info = [c['elapsed'], p1, c['comment']] 
                try:
                    card_info.append(c_info)
                except:
                    pass
            return card_info

In [17]:
matchdata['card_info'] = matchdata.card.apply(lambda val: parse_card(val))

In [18]:
matchdata

,id,league_id,league_name,season,date,home_team_id,home_team_short_name,home_team_long_name,away_team_id,away_team_short_name,...,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,goals_info,card_info
0,7049,4769,France Ligue 1,2014/2015,08/08/2014 00:00,9837,REI,Stade de Reims,9847,PSG,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>36</comment><event...,"([[22, 94321, 89476, n], [34, 46653, 159839, n...","[[73, 190972, y], [88, 242958, y]]"
1,7050,4769,France Ligue 1,2014/2015,09/08/2014 00:00,7794,BAS,SC Bastia,8592,MAR,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>40</comment><event...,"([[9, 192711, 0, n], [17, 31014, 0, o], [66, 2...","[[19, 42693, y], [64, 280965, y], [82, 40197, ..."
2,7051,4769,France Ligue 1,2014/2015,09/08/2014 00:00,4087,ETG,Évian Thonon Gaillard FC,7819,CAE,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><event_incident_typefk>123</even...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>63</comment><event...,"([], [[12, 319300, 289155, n], [32, 210466, 0,...","[[48, 35121, y], [90, 128666, y]]"
3,7052,4769,France Ligue 1,2014/2015,09/08/2014 00:00,9747,GUI,En Avant de Guingamp,9853,ETI,...,<goal><value><comment>p</comment><stats><penal...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>37</comment><event...,"([], [[39, 26374, 0, p], [90, 26374, 0, n]])","[[38, 277412, y], [55, 94323, y], [73, 26051, ..."
4,7056,4769,France Ligue 1,2014/2015,09/08/2014 00:00,10249,MON,Montpellier Hérault SC,9827,BOR,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>54</comment><event...,"([], [[17, 40707, 352833, n]])","[[7, 139635, y], [33, 154230, y], [63, 355901,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,12827,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8636,INT,Inter,8534,EMP,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>54</comment><stats...,"([[49, 30991, 282770, n], [53, 282770, 239219,...","[[63, 365624, y], [67, 41688, y], [84, 21446, ..."
1886,12828,10257,Italy Serie A,2014/2015,31/05/2015 00:00,7943,SAS,Sassuolo,10233,GEN,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>35</comment><stats...,"([[4, 364520, 27685, n], [19, 166595, 364520, ...","[[7, 113318, y], [27, 154239, y], [64, 52243, ..."
1887,12831,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8686,ROM,Roma,8540,PAL,...,<goal><value><comment>p</comment><stats><penal...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>53</comment><stats...,"([[85, 30714, 41433, n]], [[35, 270774, 0, p],...","[[56, 103266, y], [68, 108401, y], [77, 41874,..."
1888,12832,10257,Italy Serie A,2014/2015,31/05/2015 00:00,9882,SAM,Sampdoria,10167,PAR,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>62</comment><stats...,"([[54, 362195, 317156, n], [79, 25587, 33639, ...","[[78, 50449, y]]"
1889,12833,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8529,CAG,Cagliari,8600,UDI,...,<goal><value><comment>n</comment><stats><goals...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>55</comment><stats...,"([[13, 79253, 0, n], [19, 203739, 192079, n], ...","[[16, 279873, y], [28, 19249, y], [54, 401095,..."

In [19]:
matchdata.corner.unique()[1]

'<corner><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><coordinates><value>2</value><value>69</value></coordinates><elapsed>20</elapsed><subtype>cross</subtype><player1>254308</player1><sortorder>1</sortorder><team>8592</team><n>236</n><type>corner</type><id>3633773</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><coordinates><value>2</value><value>69</value></coordinates><elapsed>20</elapsed><subtype>cross</subtype><player1>254308</player1><sortorder>3</sortorder><team>8592</team><n>237</n><type>corner</type><id>3633779</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><coordinates><value>44</value><value>1</value></coordinates><elapsed>36</elapsed><subtype>cross</subtype><player1>155623</player1><sortorder>1</sortorder><team>7794</team><n>254</n><type>corner</type><id>3634027</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><coordinates><value>2</value><value>69</value></coordinates><elapsed>43</elapsed><subtype>cross</subtype><player1>254308</player1><sortorder>2</sortorder><team>8592</team><n>260</n><type>corner</type><id>3634131</id></value><value><stats><corners>1</corners></stats><event_incident_typefk>329</event_incident_typefk><coordinates><value>2</value><value>69</value></coordinates><elapsed>52</elapsed><subtype>cross</subtype><player1>254308</player1><sortorder>1</sortorder><team>8592</team><n>272</n><type>corner</type><id>3634367</id></value></corner>'

In [20]:
def parse_corner(crner):
    '''
    The function parses the corner values from xml text to a list of tuples
    Args:
        crner -> xml text with multiple tags and corner info
    Returns:
        a list of lists: each one represents the essential corner info
        list format: (time at which the card was recorded in mins-int, player_id-int, id-int)
    '''
    if pd.notna(crner):
        if xmltodict.parse(crner)['corner'] != None:
            corner_dict = xmltodict.parse(crner)['corner']['value']
            if type(corner_dict) == collections.OrderedDict:
                corner_dict = [corner_dict]
            corner_info = list()
            for c in corner_dict:
                try:
                    p1 = int(c['player1'])
                except:
                    p1 = 0
                c_info = [int(c['elapsed']), p1,int(c['id'])]
                try:
                    corner_info.append(c_info)
                except:
                    pass
            return corner_info

In [21]:
matchdata['corner_info'] = matchdata.corner.apply(lambda val: parse_corner(val))

In [22]:
matchdata

,id,league_id,league_name,season,date,home_team_id,home_team_short_name,home_team_long_name,away_team_id,away_team_short_name,...,shoton,shotoff,foulcommit,card,cross,corner,possession,goals_info,card_info,corner_info
0,7049,4769,France Ligue 1,2014/2015,08/08/2014 00:00,9837,REI,Stade de Reims,9847,PSG,...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>36</comment><event...,"([[22, 94321, 89476, n], [34, 46653, 159839, n...","[[73, 190972, y], [88, 242958, y]]","[[15, 26852, 3631175], [44, 26852, 3631254], [..."
1,7050,4769,France Ligue 1,2014/2015,09/08/2014 00:00,7794,BAS,SC Bastia,8592,MAR,...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>40</comment><event...,"([[9, 192711, 0, n], [17, 31014, 0, o], [66, 2...","[[19, 42693, y], [64, 280965, y], [82, 40197, ...","[[20, 254308, 3633773], [20, 254308, 3633779],..."
2,7051,4769,France Ligue 1,2014/2015,09/08/2014 00:00,4087,ETG,Évian Thonon Gaillard FC,7819,CAE,...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><event_incident_typefk>123</even...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>63</comment><event...,"([], [[12, 319300, 289155, n], [32, 210466, 0,...","[[48, 35121, y], [90, 128666, y]]","[[19, 46757, 3633745], [21, 74169, 3633777], [..."
3,7052,4769,France Ligue 1,2014/2015,09/08/2014 00:00,9747,GUI,En Avant de Guingamp,9853,ETI,...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>37</comment><event...,"([], [[39, 26374, 0, p], [90, 26374, 0, n]])","[[38, 277412, y], [55, 94323, y], [73, 26051, ...","[[20, 46349, 3633760], [23, 46349, 3633804], [..."
4,7056,4769,France Ligue 1,2014/2015,09/08/2014 00:00,10249,MON,Montpellier Hérault SC,9827,BOR,...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>54</comment><event...,"([], [[17, 40707, 352833, n]])","[[7, 139635, y], [33, 154230, y], [63, 355901,...","[[13, 166019, 3633661], [30, 25525, 3633915], ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1885,12827,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8636,INT,Inter,8534,EMP,...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>54</comment><stats...,"([[49, 30991, 282770, n], [53, 282770, 239219,...","[[63, 365624, y], [67, 41688, y], [84, 21446, ...","[[6, 21446, 4532573], [22, 21446, 4532792], [3..."
1886,12828,10257,Italy Serie A,2014/2015,31/05/2015 00:00,7943,SAS,Sassuolo,10233,GEN,...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>35</comment><stats...,"([[4, 364520, 27685, n], [19, 166595, 364520, ...","[[7, 113318, y], [27, 154239, y], [64, 52243, ...","[[14, 195199, 4532690], [30, 161015, 4532894],..."
1887,12831,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8686,ROM,Roma,8540,PAL,...,<shoton><value><stats><blocked>1</blocked></st...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>53</comment><stats...,"([[85, 30714, 41433, n]], [[35, 270774, 0, p],...","[[56, 103266, y], [68, 108401, y], [77, 41874,...","[[20, 270774, 4532699], [21, 270774, 4532707],..."
1888,12832,10257,Italy Serie A,2014/2015,31/05/2015 00:00,9882,SAM,Sampdoria,10167,PAR,...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>62</comment><stats...,"([[54, 362195, 317156, n], [79, 25587, 33639, ...","[[78, 50449, y]]","[[4, 317156, 4532547], [7, 39367, 4532589], [2..."
1889,12833,10257,Italy Serie A,2014/2015,31/05/2015 00:00,8529,CAG,Cagliari,8600,UDI,...,<shoton><value><stats><shoton>1</shoton></stat...,<shotoff><value><stats><shotoff>1</shotoff></s...,<foulcommit><value><stats><foulscommitted>1</f...,<card><value><comment>y</comment><stats><ycard...,<cross><value><stats><crosses>1</crosses></sta...,<corner><value><stats><corners>1</corners></st...,<possession><value><comment>55</comment><stats...,"([[13, 79253, 0, n], [19, 203739, 192079, n], ...","[[16, 279873, y], [28, 19249, y], [54, 401095,...","[[25, 422685, 4532049], [37, 422685, 4532103],..."

In [23]:
#getting data about leafues
league_df = matchdata.iloc[:,1:3].reset_index().drop('index', axis= 1)

In [24]:
league_df = league_df.drop_duplicates()

In [25]:
league_df['league_name'].str.strip()

0               France Ligue 1
10      England Premier League
28       Germany 1. Bundesliga
44             Spain LIGA BBVA
84               Italy Serie A
1332    Netherlands Eredivisie
Name: league_name, dtype: object

In [26]:
league_df

      league_id             league_name
0          4769          France Ligue 1
10         1729  England Premier League
28         7809   Germany 1. Bundesliga
44        21518         Spain LIGA BBVA
84        10257           Italy Serie A
1332      13274  Netherlands Eredivisie

In [27]:
#working with the players' attributes data
players_attributes

,player_id,player_name,birthday,height,weight,date,overall_rating,potential,preferred_foot,attacking_work_rate,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,155782,Aaron Cresswell,1989-12-15,170.18,146,2015-12-24,73.0,75.0,left,high,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
1,155782,Aaron Cresswell,1989-12-15,170.18,146,2015-12-17,73.0,75.0,left,high,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
2,155782,Aaron Cresswell,1989-12-15,170.18,146,2015-10-16,73.0,77.0,left,high,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
3,155782,Aaron Cresswell,1989-12-15,170.18,146,2015-09-25,74.0,78.0,left,high,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
4,155782,Aaron Cresswell,1989-12-15,170.18,146,2015-09-21,73.0,77.0,left,medium,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33572,282473,Zouhair Feddal,1989-01-01,190.50,172,2014-09-18,61.0,65.0,left,medium,...,32.0,33.0,65.0,69.0,53.0,12.0,13.0,11.0,9.0,7.0
33573,282473,Zouhair Feddal,1989-01-01,190.50,172,2014-02-07,62.0,66.0,left,medium,...,33.0,34.0,66.0,70.0,54.0,13.0,14.0,12.0,10.0,8.0
33574,26357,Zoumana Camara,1979-04-03,182.88,168,2015-03-06,73.0,73.0,right,low,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0
33575,26357,Zoumana Camara,1979-04-03,182.88,168,2014-09-18,73.0,73.0,right,low,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0
33576,26357,Zoumana Camara,1979-04-03,182.88,168,2014-05-16,73.0,73.0,right,low,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0

In [28]:
for col in enumerate(players_attributes.columns):
    print(col)

(0, 'player_id')
(1, 'player_name')
(2, 'birthday')
(3, 'height')
(4, 'weight')
(5, 'date')
(6, 'overall_rating')
(7, 'potential')
(8, 'preferred_foot')
(9, 'attacking_work_rate')
(10, 'defensive_work_rate')
(11, 'crossing')
(12, 'finishing')
(13, 'heading_accuracy')
(14, 'short_passing')
(15, 'volleys')
(16, 'dribbling')
(17, 'curve')
(18, 'free_kick_accuracy')
(19, 'long_passing')
(20, 'ball_control')
(21, 'acceleration')
(22, 'sprint_speed')
(23, 'agility')
(24, 'reactions')
(25, 'balance')
(26, 'shot_power')
(27, 'jumping')
(28, 'stamina')
(29, 'strength')
(30, 'long_shots')
(31, 'aggression')
(32, 'interceptions')
(33, 'positioning')
(34, 'vision')
(35, 'penalties')
(36, 'marking')
(37, 'standing_tackle')
(38, 'sliding_tackle')
(39, 'gk_diving')
(40, 'gk_handling')
(41, 'gk_kicking')
(42, 'gk_positioning')
(43, 'gk_reflexes')

In [29]:
#check for missing values
players_attributes.isna().sum()

player_id               0
player_name             0
birthday                0
height                  0
weight                  0
date                    0
overall_rating         24
potential              24
preferred_foot         24
attacking_work_rate    24
defensive_work_rate    24
crossing               24
finishing              24
heading_accuracy       24
short_passing          24
volleys                24
dribbling              24
curve                  24
free_kick_accuracy     24
long_passing           24
ball_control           24
acceleration           24
sprint_speed           24
agility                24
reactions              24
balance                24
shot_power             24
jumping                24
stamina                24
strength               24
long_shots             24
aggression             24
interceptions          24
positioning            24
vision                 24
penalties              24
marking                24
standing_tackle        24
sliding_tackle         24
gk_diving              24
gk_handling            24
gk_kicking             24
gk_positioning         24
gk_reflexes            24
dtype: int64

In [30]:
#drop all players with no overall rating
players_attributes.dropna(subset=['overall_rating'],axis=0,inplace=True)

In [31]:
print(players_attributes)

       player_id      player_name    birthday  height  weight        date  \
0         155782  Aaron Cresswell  1989-12-15  170.18     146  2015-12-24
1         155782  Aaron Cresswell  1989-12-15  170.18     146  2015-12-17
2         155782  Aaron Cresswell  1989-12-15  170.18     146  2015-10-16
3         155782  Aaron Cresswell  1989-12-15  170.18     146  2015-09-25
4         155782  Aaron Cresswell  1989-12-15  170.18     146  2015-09-21
...          ...              ...         ...     ...     ...         ...
33572     282473   Zouhair Feddal  1989-01-01  190.50     172  2014-09-18
33573     282473   Zouhair Feddal  1989-01-01  190.50     172  2014-02-07
33574      26357   Zoumana Camara  1979-04-03  182.88     168  2015-03-06
33575      26357   Zoumana Camara  1979-04-03  182.88     168  2014-09-18
33576      26357   Zoumana Camara  1979-04-03  182.88     168  2014-05-16

       overall_rating  potential preferred_foot attacking_work_rate  ...  \
0                73.0       75.0           left                high  ...
1                73.0       75.0           left                high  ...
2                73.0       77.0           left                high  ...
3                74.0       78.0           left                high  ...
4                73.0       77.0           left              medium  ...
...               ...        ...            ...                 ...  ...
33572            61.0       65.0           left              medium  ...
33573            62.0       66.0           left              medium  ...
33574            73.0       73.0          right                 low  ...
33575            73.0       73.0          right                 low  ...
33576            73.0       73.0          right                 low  ...

      vision  penalties  marking  standing_tackle  sliding_tackle  gk_diving  \
0       65.0       59.0     76.0             75.0            78.0       14.0
1       65.0       59.0     76.0             75.0            78.0       14.0
2       65.0       59.0     76.0             75.0            78.0       14.0
3       65.0       59.0     76.0             75.0            78.0       14.0
4       65.0       59.0     76.0             75.0            78.0       14.0
...      ...        ...      ...              ...             ...        ...
33572   32.0       33.0     65.0             69.0            53.0       12.0
33573   33.0       34.0     66.0             70.0            54.0       13.0
33574   52.0       50.0     76.0             77.0            72.0       14.0
33575   52.0       50.0     76.0             77.0            72.0       14.0
33576   52.0       50.0     76.0             77.0            72.0       14.0

       gk_handling  gk_kicking  gk_positioning  gk_reflexes
0              7.0         9.0             9.0         12.0
1              7.0         9.0             9.0         12.0
2              7.0         9.0             9.0         12.0
3              7.0         9.0             9.0         12.0
4              7.0         9.0             9.0         12.0
...            ...         ...             ...          ...
33572         13.0        11.0             9.0          7.0
33573         14.0        12.0            10.0          8.0
33574         10.0        11.0             8.0         12.0
33575         10.0        11.0             8.0         12.0
33576         10.0        11.0             8.0         12.0

[33553 rows x 44 columns]

In [32]:
players_attributes['player_id'].nunique()

3746

In [33]:
#Drop duplicate rows
new_players_attributes = players_attributes.drop_duplicates(subset='player_id', keep="first")

In [34]:
new_players_attributes

,player_id,player_name,birthday,height,weight,date,overall_rating,potential,preferred_foot,attacking_work_rate,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,155782,Aaron Cresswell,1989-12-15,170.18,146,2015-12-24,73.0,75.0,left,high,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
12,27316,Aaron Hunt,1986-09-04,182.88,161,2015-09-25,77.0,77.0,left,medium,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
21,30895,Aaron Lennon,1987-04-16,165.10,139,2015-10-16,77.0,77.0,right,high,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
31,101042,Aaron Meijers,1987-10-28,175.26,170,2015-12-03,69.0,69.0,left,medium,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
39,40719,Aaron Niguez,1989-04-26,170.18,143,2015-12-17,71.0,73.0,left,medium,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33519,35724,Zlatan Ibrahimovic,1981-10-03,195.58,209,2015-09-21,89.0,89.0,right,medium,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
33525,42860,Zlatko Junuzovic,1987-09-26,172.72,152,2015-11-26,78.0,78.0,right,high,...,78.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
33549,107281,Zoltan Stieber,1988-10-16,175.26,148,2015-11-06,73.0,74.0,left,medium,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
33560,282473,Zouhair Feddal,1989-01-01,190.50,172,2015-11-06,75.0,77.0,left,medium,...,47.0,48.0,78.0,79.0,68.0,13.0,14.0,12.0,10.0,8.0
33574,26357,Zoumana Camara,1979-04-03,182.88,168,2015-03-06,73.0,73.0,right,low,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0

In [35]:
#Replace missing values
numeric = players_attributes.select_dtypes(include=np.number)
numeric_columns = numeric.columns

In [36]:
#fill missing values with 0
players_attributes[numeric_columns] = players_attributes[numeric_columns].fillna(0)

In [37]:
players_attributes = players_attributes.fillna("")

In [38]:
players_attributes.isna().sum()

player_id              0
player_name            0
birthday               0
height                 0
weight                 0
date                   0
overall_rating         0
potential              0
preferred_foot         0
attacking_work_rate    0
defensive_work_rate    0
crossing               0
finishing              0
heading_accuracy       0
short_passing          0
volleys                0
dribbling              0
curve                  0
free_kick_accuracy     0
long_passing           0
ball_control           0
acceleration           0
sprint_speed           0
agility                0
reactions              0
balance                0
shot_power             0
jumping                0
stamina                0
strength               0
long_shots             0
aggression             0
interceptions          0
positioning            0
vision                 0
penalties              0
marking                0
standing_tackle        0
sliding_tackle         0
gk_diving              0
gk_handling            0
gk_kicking             0
gk_positioning         0
gk_reflexes            0
dtype: int64

In [39]:
#Get player IDs from the matchdata 
player_ids = matchdata[["home_team_id","home_player_1","home_player_2","home_player_3","home_player_4","home_player_5","home_player_6","home_player_7","home_player_8","home_player_9","home_player_10","home_player_11"]]

In [40]:
player_ids.shape

(1890, 12)

In [41]:
player_ids1 = player_ids.drop_duplicates(subset='home_team_id', keep="last")

In [42]:
player_ids1.head()

,home_team_id,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11
1510,9908,118848,121642.0,352392.0,45496.0,442729.0,614453.0,45879.0,352404.0,351898.0,352968.0,570980.0
1511,10235,26002,560852.0,424879.0,299572.0,185554.0,26539.0,97470.0,209384.0,188557.0,38865.0,402975.0
1512,10229,214984,186880.0,245315.0,465628.0,26797.0,157101.0,159465.0,384446.0,209786.0,172388.0,512747.0
1513,8525,156546,26708.0,243481.0,45837.0,352366.0,118843.0,17848.0,145586.0,305831.0,186136.0,143523.0
1514,6433,231674,179242.0,150589.0,21765.0,243429.0,243473.0,110135.0,352023.0,26686.0,17259.0,298449.0

In [43]:
#change datatypes of players from float to int
player_ids1.astype({"home_player_2": int, "home_player_3": int, "home_player_4": int, "home_player_5": int, "home_player_6": int, "home_player_7": int, "home_player_8": int, "home_player_9": int, "home_player_10": int, "home_player_11": int})

,home_team_id,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11
1510,9908,118848,121642,352392,45496,442729,614453,45879,352404,351898,352968,570980
1511,10235,26002,560852,424879,299572,185554,26539,97470,209384,188557,38865,402975
1512,10229,214984,186880,245315,465628,26797,157101,159465,384446,209786,172388,512747
1513,8525,156546,26708,243481,45837,352366,118843,17848,145586,305831,186136,143523
1514,6433,231674,179242,150589,21765,243429,243473,110135,352023,26686,17259,298449
...,...,...,...,...,...,...,...,...,...,...,...,...
1885,8636,42422,98254,25526,27719,197352,239219,49970,206508,21446,30991,282770
1886,7943,74028,178120,32769,73024,41497,39222,74034,27685,364520,166595,195199
1887,8686,178732,264842,18880,103266,24622,237606,30682,239061,155738,30714,79187
1888,9882,41671,25587,18823,362195,163918,213366,163919,317156,181995,33639,196484
1889,8529,157284,41769,74009,39331,281760,541820,192079,203739,195998,195589,79253

In [44]:
#Have a list of player IDs
player_id_list = players_attributes['player_id'].unique().tolist()

In [45]:
cols = np.r_[0, 5:44]
player_attributes_df = new_players_attributes.iloc[:, cols].reset_index().drop('index', axis= 1)

In [46]:
player_attributes_df

,player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,155782,2015-12-24,73.0,75.0,left,high,medium,79.0,51.0,57.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
1,27316,2015-09-25,77.0,77.0,left,medium,medium,77.0,72.0,64.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
2,30895,2015-10-16,77.0,77.0,right,high,medium,78.0,66.0,28.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
3,101042,2015-12-03,69.0,69.0,left,medium,medium,63.0,42.0,59.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
4,40719,2015-12-17,71.0,73.0,left,medium,medium,64.0,67.0,54.0,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3741,35724,2015-09-21,89.0,89.0,right,medium,low,76.0,90.0,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
3742,42860,2015-11-26,78.0,78.0,right,high,high,86.0,66.0,58.0,...,78.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
3743,107281,2015-11-06,73.0,74.0,left,medium,medium,69.0,71.0,45.0,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
3744,282473,2015-11-06,75.0,77.0,left,medium,medium,60.0,40.0,73.0,...,47.0,48.0,78.0,79.0,68.0,13.0,14.0,12.0,10.0,8.0
3745,26357,2015-03-06,73.0,73.0,right,low,medium,42.0,27.0,74.0,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0

In [47]:
for col in enumerate(matchdata.columns):
    print(col)

(0, 'id')
(1, 'league_id')
(2, 'league_name')
(3, 'season')
(4, 'date')
(5, 'home_team_id')
(6, 'home_team_short_name')
(7, 'home_team_long_name')
(8, 'away_team_id')
(9, 'away_team_short_name')
(10, 'away_team_long_name')
(11, 'home_team_goal')
(12, 'away_team_goal')
(13, 'home_player_1')
(14, 'home_player_2')
(15, 'home_player_3')
(16, 'home_player_4')
(17, 'home_player_5')
(18, 'home_player_6')
(19, 'home_player_7')
(20, 'home_player_8')
(21, 'home_player_9')
(22, 'home_player_10')
(23, 'home_player_11')
(24, 'away_player_1')
(25, 'away_player_2')
(26, 'away_player_3')
(27, 'away_player_4')
(28, 'away_player_5')
(29, 'away_player_6')
(30, 'away_player_7')
(31, 'away_player_8')
(32, 'away_player_9')
(33, 'away_player_10')
(34, 'away_player_11')
(35, 'goal')
(36, 'shoton')
(37, 'shotoff')
(38, 'foulcommit')
(39, 'card')
(40, 'cross')
(41, 'corner')
(42, 'possession')
(43, 'goals_info')
(44, 'card_info')
(45, 'corner_info')

In [48]:
uniqueValues = matchdata['home_team_id'].unique()

In [49]:
uniqueValues

array([ 9837,  7794,  4087,  9747, 10249,  9830,  9831,  9748,  9829,
        7819,  9825,  8197, 10260, 10172, 10194,  8659,  8654,  8588,
        8550,  9847,  9851,  9941,  8650, 10261,  9827,  8592,  9853,
        8191,  9823,  8455,  9826,  8668, 10003,  8639,  9789,  8226,
        9904,  8177,  9810,  8302,  9864,  7878,  9865,  8667,  8472,
        8586,  9788,  8460,  8581,  9910,  8372,  8634,  8456,  8633,
        8406, 10267,  8305,  8689, 10189,  8178,  8721,  8697, 10269,
        9790,  8533,  8686,  8558,  7869,  9906,  8315, 10252,  8358,
        9880, 10233,  8564,  8540,  7943,  9804,  8600,  8560,  9783,
       10268, 10205,  8466,  8534,  9885,  8529,  8636,  8543,  9875,
       10167,  9882,  8370,  9876,  9905,  8524,  8722,  8535, 10218,
       10217, 10228,  9761,  7788,  6631,  6413,  9791, 10235, 10229,
        6433,  8525,  8593,  8674,  9908,  8277,  8611,  8640],
      dtype=int64)

In [50]:
#get teams data
teams_df = matchdata[["home_team_id","home_team_short_name","home_team_long_name","league_id"]]

In [51]:
teams_df.shape

(1890, 4)

In [52]:
teams_df1 = teams_df.drop_duplicates()

In [53]:
teams_df1.shape

(116, 4)

In [54]:
#final teams data
teams_df1

      home_team_id home_team_short_name       home_team_long_name  league_id
0             9837                  REI            Stade de Reims       4769
1             7794                  BAS                 SC Bastia       4769
2             4087                  ETG  Évian Thonon Gaillard FC       4769
3             9747                  GUI      En Avant de Guingamp       4769
4            10249                  MON    Montpellier Hérault SC       4769
...            ...                  ...                       ...        ...
1345          8674                  GRO              FC Groningen      13274
1348          9908                  UTR                FC Utrecht      13274
1352          8277                  VIT                   Vitesse      13274
1356          8611                  TWE                 FC Twente      13274
1357          8640                  PSV                       PSV      13274

[116 rows x 4 columns]

In [55]:
teams_df1 = teams_df1.rename(columns={'home_team_id': 'team_id', 'home_team_short_name': 'team_short_name','home_team_long_name':'team_long_name'})

In [56]:
teams_df1

      team_id team_short_name            team_long_name  league_id
0        9837             REI            Stade de Reims       4769
1        7794             BAS                 SC Bastia       4769
2        4087             ETG  Évian Thonon Gaillard FC       4769
3        9747             GUI      En Avant de Guingamp       4769
4       10249             MON    Montpellier Hérault SC       4769
...       ...             ...                       ...        ...
1345     8674             GRO              FC Groningen      13274
1348     9908             UTR                FC Utrecht      13274
1352     8277             VIT                   Vitesse      13274
1356     8611             TWE                 FC Twente      13274
1357     8640             PSV                       PSV      13274

[116 rows x 4 columns]

In [57]:
#Get match stats data
cols1 = np.r_[0:2, 3:6,8,11:13,43:46]
matchstats_df = matchdata.iloc[:, cols1].reset_index().drop('index', axis= 1)

In [58]:
matchstats_df

,id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info
0,7049,4769,2014/2015,08/08/2014 00:00,9837,9847,2,2,"([[22, 94321, 89476, n], [34, 46653, 159839, n...","[[73, 190972, y], [88, 242958, y]]","[[15, 26852, 3631175], [44, 26852, 3631254], [..."
1,7050,4769,2014/2015,09/08/2014 00:00,7794,8592,3,3,"([[9, 192711, 0, n], [17, 31014, 0, o], [66, 2...","[[19, 42693, y], [64, 280965, y], [82, 40197, ...","[[20, 254308, 3633773], [20, 254308, 3633779],..."
2,7051,4769,2014/2015,09/08/2014 00:00,4087,7819,0,3,"([], [[12, 319300, 289155, n], [32, 210466, 0,...","[[48, 35121, y], [90, 128666, y]]","[[19, 46757, 3633745], [21, 74169, 3633777], [..."
3,7052,4769,2014/2015,09/08/2014 00:00,9747,9853,0,2,"([], [[39, 26374, 0, p], [90, 26374, 0, n]])","[[38, 277412, y], [55, 94323, y], [73, 26051, ...","[[20, 46349, 3633760], [23, 46349, 3633804], [..."
4,7056,4769,2014/2015,09/08/2014 00:00,10249,9827,0,1,"([], [[17, 40707, 352833, n]])","[[7, 139635, y], [33, 154230, y], [63, 355901,...","[[13, 166019, 3633661], [30, 25525, 3633915], ..."
...,...,...,...,...,...,...,...,...,...,...,...
1885,12827,10257,2014/2015,31/05/2015 00:00,8636,8534,4,3,"([[49, 30991, 282770, n], [53, 282770, 239219,...","[[63, 365624, y], [67, 41688, y], [84, 21446, ...","[[6, 21446, 4532573], [22, 21446, 4532792], [3..."
1886,12828,10257,2014/2015,31/05/2015 00:00,7943,10233,3,1,"([[4, 364520, 27685, n], [19, 166595, 364520, ...","[[7, 113318, y], [27, 154239, y], [64, 52243, ...","[[14, 195199, 4532690], [30, 161015, 4532894],..."
1887,12831,10257,2014/2015,31/05/2015 00:00,8686,8540,1,2,"([[85, 30714, 41433, n]], [[35, 270774, 0, p],...","[[56, 103266, y], [68, 108401, y], [77, 41874,...","[[20, 270774, 4532699], [21, 270774, 4532707],..."
1888,12832,10257,2014/2015,31/05/2015 00:00,9882,10167,2,2,"([[54, 362195, 317156, n], [79, 25587, 33639, ...","[[78, 50449, y]]","[[4, 317156, 4532547], [7, 39367, 4532589], [2..."
1889,12833,10257,2014/2015,31/05/2015 00:00,8529,8600,4,3,"([[13, 79253, 0, n], [19, 203739, 192079, n], ...","[[16, 279873, y], [28, 19249, y], [54, 401095,...","[[25, 422685, 4532049], [37, 422685, 4532103],..."

In [59]:
#Players data
player_df = players_attributes[["player_id","player_name","birthday","height","weight"]]

In [60]:
player_df = player_df.drop_duplicates(subset = "player_id", keep = "first")

In [61]:
player_df

       player_id         player_name    birthday  height  weight
0         155782     Aaron Cresswell  1989-12-15  170.18     146
12         27316          Aaron Hunt  1986-09-04  182.88     161
21         30895        Aaron Lennon  1987-04-16  165.10     139
31        101042       Aaron Meijers  1987-10-28  175.26     170
39         40719        Aaron Niguez  1989-04-26  170.18     143
...          ...                 ...         ...     ...     ...
33519      35724  Zlatan Ibrahimovic  1981-10-03  195.58     209
33525      42860    Zlatko Junuzovic  1987-09-26  172.72     152
33549     107281      Zoltan Stieber  1988-10-16  175.26     148
33560     282473      Zouhair Feddal  1989-01-01  190.50     172
33574      26357      Zoumana Camara  1979-04-03  182.88     168

[3746 rows x 5 columns]

In [62]:
players_attributes['player_id'].nunique()

3746

In [63]:
#Havw a list of player Ids
player_id_list = players_attributes['player_id'].unique().tolist()

In [64]:
player_id_list

[155782,
 27316,
 30895,
 101042,
 40719,
 75489,
 167027,
 128456,
 42664,
 467485,
 563215,
 41093,
 564712,
 67334,
 173955,
 39562,
 191784,
 194479,
 189181,
 352887,
 439366,
 148827,
 196947,
 324910,
 24385,
 29904,
 105548,
 240556,
 114503,
 27277,
 165706,
 213695,
 660145,
 293235,
 495841,
 519835,
 157303,
 38617,
 89240,
 24159,
 37234,
 209372,
 500502,
 185336,
 12245,
 684978,
 160447,
 36774,
 357881,
 181211,
 533212,
 103866,
 47394,
 155738,
 361710,
 45816,
 77741,
 131409,
 132844,
 45815,
 449241,
 261599,
 102572,
 482331,
 40501,
 178574,
 45744,
 23358,
 571685,
 50345,
 169756,
 38122,
 33992,
 352879,
 188413,
 317062,
 263276,
 213366,
 441441,
 111930,
 41182,
 120917,
 32448,
 210683,
 33451,
 34268,
 36785,
 95220,
 32870,
 294859,
 289250,
 160220,
 94883,
 177689,
 37503,
 35831,
 396912,
 484858,
 27694,
 299879,
 41168,
 47565,
 102394,
 30881,
 575364,
 543020,
 37451,
 314605,
 109121,
 39302,
 74028,
 71768,
 493418,
 661509,
 93343,
 664961,
 39345,
 189192,
 191906,
 169217,
 151079,
 45220,
 97657,
 303484,
 168569,
 282470,
 302911,
 167094,
 16351,
 351860,
 280638,
 164519,
 156534,
 208852,
 395154,
 39763,
 561819,
 41475,
 264842,
 42443,
 24504,
 41816,
 182843,
 215725,
 27679,
 41411,
 620524,
 461357,
 41269,
 282706,
 602306,
 362195,
 35480,
 213500,
 447488,
 604785,
 205034,
 39566,
 119079,
 282689,
 196386,
 157865,
 262753,
 23678,
 428672,
 41975,
 26564,
 186923,
 27306,
 407765,
 147735,
 31672,
 438780,
 71764,
 459000,
 34420,
 27478,
 192504,
 169569,
 440330,
 40100,
 3517,
 155075,
 265727,
 33840,
 169193,
 210387,
 560900,
 46554,
 46342,
 298923,
 277443,
 687572,
 605848,
 50047,
 37479,
 303089,
 629594,
 317156,
 129918,
 111801,
 239946,
 213649,
 46412,
 256727,
 476771,
 190741,
 209371,
 610533,
 466890,
 169752,
 32496,
 213809,
 466482,
 188652,
 563216,
 25816,
 174093,
 634113,
 210164,
 37442,
 201916,
 183350,
 114044,
 183327,
 257855,
 57067,
 523390,
 213501,
 75310,
 100033,
 282467,
 213489,
 93484,
 681965,
 668307,
 38827,
 309505,
 108525,
 303359,
 213814,
 287333,
 614454,
 46085,
 449492,
 164676,
 150323,
 127209,
 70074,
 145561,
 71055,
 33025,
 612863,
 95955,
 292772,
 361770,
 243829,
 212915,
 251244,
 178812,
 265918,
 38098,
 30902,
 309726,
 154239,
 39643,
 39170,
 506364,
 41326,
 41865,
 41404,
 41879,
 30731,
 57124,
 24493,
 25526,
 130113,
 150464,
 364164,
 39841,
 70789,
 449232,
 42873,
 192712,
 184360,
 158253,
 173461,
 104986,
 31045,
 30955,
 172948,
 32593,
 357880,
 23629,
 10637,
 166422,
 37185,
 47382,
 183530,
 504613,
 103419,
 148314,
 432950,
 46509,
 38573,
 105925,
 89185,
 41292,
 280485,
 155246,
 49543,
 27702,
 27155,
 243509,
 265725,
 425457,
 7621,
 202562,
 215419,
 167035,
 413557,
 187563,
 71605,
 40659,
 32579,
 564859,
 196366,
 562698,
 46892,
 656668,
 424918,
 46653,
 184138,
 8893,
 11736,
 441302,
 186948,
 40648,
 150731,
 41769,
 35324,
 11685,
 32748,
 358142,
 299374,
 27734,
 41542,
 202553,
 517294,
 182839,
 35644,
 39367,
 276738,
 79737,
 474448,
 35327,
 45244,
 562267,
 209362,
 520659,
 182776,
 37188,
 39792,
 604374,
 33028,
 607148,
 75331,
 45485,
 30834,
 277460,
 263796,
 63520,
 301023,
 254704,
 103964,
 26458,
 26324,
 172388,
 30922,
 540230,
 38842,
 74989,
 79982,
 30974,
 168727,
 69008,
 49939,
 107280,
 38834,
 182223,
 24948,
 23354,
 571709,
 205278,
 33958,
 46518,
 595586,
 612212,
 36180,
 184591,
 72813,
 72623,
 488297,
 352888,
 192770,
 411617,
 479020,
 119427,
 185386,
 313825,
 115798,
 601783,
 26111,
 26344,
 303139,
 93488,
 46417,
 488958,
 317932,
 438167,
 161415,
 163227,
 37889,
 680011,
 614453,
 188089,
 586678,
 46056,
 150589,
 25551,
 104045,
 467480,
 155534,
 30872,
 306913,
 210065,
 40536,
 276121,
 24147,
 45571,
 240538,
 209413,
 47552,
 22991,
 45749,
 68253,
 163160,
 232253,
 148830,
 277390,
 441871,
 89475,
 210404,
 681383,
 145536,
 210146,
 141126,
 210114,
 181619,
 42258,
 280965,
 131995,
 26420,
 611223,
 192920,
 243482,
 357220,
 40006,
 11319,
 41092,
 260964,
 488139,
 150764,
 215168,
 303059,
 97498,
 503629,
 528050,
 22964,
 179901,
 450493,
 348408,
 40274,
 26419,
 30940,
 23021,
 24741,
 58499,
 96643,
 435684,
 200917,
 242151,
 38431,
 175305,
 635772,
 38433,
 102623,
 40601,
 26223,
 265591,
 25519,
 278341,
 69650,
 515338,
 24583,
 35442,
 281110,
 26589,
 37215,
 505059,
 40197,
 352358,
 258245,
 31306,
 281999,
 26777,
 527103,
 316688,
 210691,
 115160,
 361322,
 143523,
 41083,
 422685,
 268273,
 79013,
 267911,
 42479,
 228982,
 193937,
 299799,
 202633,
 147594,
 193859,
 481694,
 179208,
 452243,
 113235,
 67008,
 80564,
 150922,
 112205,
 172841,
 184321,
 425255,
 179201,
 693138,
 562593,
 31953,
 292769,
 37480,
 214685,
 40721,
 358289,
 213694,
 95230,
 166648,
 195717,
 17299,
 49940,
 574654,
 174062,
 317822,
 33024,
 25563,
 102620,
 56972,
 38817,
 75342,
 518240,
 106309,
 34543,
 248154,
 208494,
 201939,
 41194,
 451982,
 46708,
 26168,
 27512,
 71603,
 160627,
 466308,
 51953,
 159465,
 72541,
 39419,
 30613,
 78314,
 92375,
 248169,
 277761,
 33100,
 50638,
 93470,
 29581,
 213653,
 39109,
 187266,
 68237,
 112119,
 722766,
 40707,
 186153,
 38373,
 94549,
 426612,
 148302,
 36133,
 40176,
 43247,
 23257,
 243248,
 388025,
 165823,
 45496,
 34530,
 242887,
 148315,
 67890,
 178804,
 39334,
 157723,
 43061,
 27324,
 355358,
 39535,
 448805,
 30250,
 288349,
 92252,
 25483,
 97727,
 27774,
 29543,
 269788,
 180126,
 40730,
 277412,
 46884,
 154229,
 192711,
 408104,
 130670,
 161414,
 103218,
 161660,
 400962,
 71602,
 37421,
 42294,
 41890,
 25366,
 41874,
 113968,
 307069,
 185518,
 35989,
 41174,
 182925,
 311009,
 23311,
 409161,
 151063,
 38865,
 611682,
 169721,
 28081,
 318535,
 363359,
 473852,
 38581,
 103428,
 40548,
 169162,
 25075,
 113695,
 46297,
 114076,
 500791,
 24791,
 42650,
 26310,
 58294,
 213704,
 30906,
 24970,
 239350,
 39229,
 239964,
 30893,
 50449,
 149855,
 640725,
 24658,
 38920,
 110113,
 512747,
 161012,
 514806,
 101969,
 195335,
 179206,
 46726,
 23030,
 196186,
 46810,
 321020,
 183497,
 433311,
 580704,
 280528,
 174634,
 33988,
 436036,
 37319,
 94915,
 35828,
 188498,
 40957,
 40940,
 282674,
 531629,
 42052,
 26399,
 37684,
 432389,
 141145,
 535957,
 196126,
 177720,
 38759,
 24138,
 172768,
 256968,
 42231,
 111858,
 75307,
 114664,
 522576,
 97734,
 51553,
 74169,
 195413,
 34952,
 41536,
 24405,
 41540,
 30682,
 27672,
 37541,
 24793,
 42692,
 358155,
 585237,
 119839,
 115184,
 362120,
 130155,
 210704,
 207039,
 27708,
 19249,
 208077,
 570432,
 417818,
 240537,
 173317,
 143512,
 214426,
 162679,
 46353,
 49571,
 163165,
 254472,
 113836,
 38432,
 179522,
 18734,
 39304,
 133201,
 29529,
 104646,
 158278,
 119014,
 609733,
 24148,
 37780,
 638613,
 24156,
 158841,
 289278,
 104482,
 277609,
 447413,
 18904,
 121633,
 41294,
 37456,
 479217,
 182917,
 41216,
 74991,
 528873,
 610668,
 25415,
 246218,
 553597,
 108572,
 215584,
 52133,
 131583,
 30276,
 41175,
 23190,
 50065,
 37545,
 30918,
 37459,
 358339,
 42276,
 99047,
 103266,
 39294,
 201617,
 39222,
 24500,
 612755,
 25794,
 42262,
 150466,
 244811,
 501568,
 298448,
 178765,
 22894,
 467027,
 34437,
 432040,
 127712,
 191616,
 309537,
 496054,
 308309,
 161662,
 179009,
 114268,
 249225,
 363333,
 492586,
 27573,
 26450,
 664962,
 359197,
 155639,
 79248,
 282281,
 598355,
 614163,
 352023,
 39940,
 33338,
 210126,
 141113,
 133126,
 150217,
 34381,
 562801,
 602836,
 476769,
 192899,
 292773,
 163971,
 33128,
 30822,
 47357,
 5710,
 96613,
 30820,
 38139,
 24383,
 56868,
 161396,
 19243,
 70891,
 183059,
 150395,
 56678,
 684723,
 429988,
 420568,
 41466,
 2752,
 213504,
 184132,
 101422,
 201111,
 297579,
 89476,
 38369,
 27430,
 478345,
 261609,
 25496,
 242783,
 208926,
 110184,
 37139,
 41165,
 583417,
 426202,
 185000,
 74838,
 41605,
 486819,
 242156,
 198500,
 177874,
 279861,
 150084,
 340790,
 364520,
 42691,
 74435,
 36934,
 591734,
 303905,
 266841,
 27485,
 303800,
 242308,
 612836,
 719413,
 186805,
 156726,
 173484,
 46104,
 243481,
 41122,
 37450,
 75445,
 520230,
 30983,
 22824,
 94267,
 16254,
 116555,
 363340,
 42703,
 139635,
 72628,
 482200,
 369859,
 107417,
 268394,
 150026,
 477493,
 30920,
 179491,
 278917,
 128360,
 15403,
 49677,
 451335,
 362121,
 17855,
 26489,
 74757,
 425595,
 50661,
 212170,
 79742,
 307226,
 108075,
 42247,
 207045,
 156551,
 215804,
 26675,
 22313,
 574642,
 150242,
 67349,
 293160,
 352394,
 240346,
 317775,
 167634,
 300236,
 79262,
 24516,
 259306,
 47547,
 268375,
 34008,
 279172,
 394825,
 41671,
 26255,
 30960,
 ...]

In [65]:
#print(player_id_list[12])
num_of_ids = len(player_id_list)
print(num_of_ids)

3746

In [66]:
players_leagues_dict = {}

In [67]:
for player_id in  player_id_list:
    if player_id in matchdata.values:
        player_id_data = matchdata[matchdata.values  == player_id]
        players_leagues_dict[player_id]= player_id_data['league_id'].unique().tolist()[0]

In [68]:
print(players_leagues_dict)

{155782: 1729, 27316: 7809, 30895: 1729, 101042: 13274, 40719: 21518, 75489: 1729, 167027: 4769, 128456: 4769, 42664: 10257, 563215: 4769, 41093: 4769, 564712: 4769, 67334: 21518, 39562: 10257, 191784: 21518, 194479: 4769, 352887: 4769, 148827: 21518, 324910: 7809, 24385: 4769, 29904: 21518, 105548: 1729, 240556: 13274, 114503: 13274, 165706: 21518, 213695: 21518, 293235: 10257, 519835: 1729, 89240: 7809, 24159: 1729, 37234: 1729, 209372: 13274, 185336: 7809, 36774: 7809, 357881: 4769, 533212: 4769, 103866: 4769, 47394: 1729, 155738: 10257, 45816: 13274, 77741: 10257, 132844: 7809, 45815: 13274, 449241: 1729, 261599: 13274, 102572: 21518, 482331: 21518, 40501: 21518, 178574: 21518, 23358: 1729, 571685: 21518, 50345: 7809, 169756: 1729, 33992: 21518, 352879: 4769, 188413: 4769, 317062: 4769, 213366: 10257, 441441: 21518, 111930: 1729, 41182: 4769, 120917: 4769, 32448: 1729, 210683: 4769, 33451: 4769, 32870: 1729, 294859: 4769, 289250: 10257, 94883: 7809, 37503: 10257, 396912: 4769, 484858: 13274, 27694: 10257, 41168: 21518, 47565: 21518, 30881: 10257, 575364: 10257, 37451: 21518, 314605: 1729, 109121: 10257, 74028: 10257, 71768: 10257, 93343: 4769, 39345: 10257, 189192: 21518, 191906: 21518, 169217: 4769, 151079: 21518, 45220: 10257, 97657: 1729, 303484: 7809, 168569: 10257, 282470: 21518, 302911: 13274, 167094: 7809, 16351: 1729, 280638: 21518, 164519: 4769, 39763: 10257, 561819: 13274, 41475: 10257, 264842: 10257, 24504: 10257, 41816: 10257, 182843: 10257, 215725: 10257, 27679: 10257, 41411: 10257, 41269: 10257, 282706: 10257, 362195: 10257, 35480: 1729, 213500: 21518, 205034: 21518, 39566: 7809, 119079: 1729, 196386: 1729, 262753: 13274, 23678: 1729, 26564: 10257, 407765: 4769, 147735: 7809, 31672: 10257, 34420: 7809, 27478: 7809, 33840: 10257, 169193: 4769, 298923: 7809, 277443: 4769, 605848: 4769, 50047: 1729, 37479: 21518, 303089: 4769, 317156: 10257, 129918: 21518, 213649: 21518, 46412: 4769, 256727: 21518, 190741: 4769, 209371: 13274, 610533: 4769, 32496: 1729, 213809: 21518, 466482: 4769, 188652: 10257, 563216: 4769, 210164: 4769, 37442: 21518, 201916: 21518, 114044: 7809, 183327: 21518, 257855: 21518, 57067: 10257, 213501: 10257, 75310: 21518, 213489: 21518, 93484: 1729, 38827: 10257, 213814: 21518, 287333: 13274, 449492: 21518, 164676: 1729, 150323: 21518, 127209: 10257, 70074: 4769, 145561: 7809, 71055: 10257, 33025: 21518, 95955: 4769, 292772: 4769, 361770: 21518, 243829: 7809, 178812: 1729, 265918: 1729, 38098: 4769, 30902: 10257, 309726: 10257, 154239: 10257, 39170: 10257, 41326: 10257, 41865: 10257, 41404: 10257, 41879: 10257, 30731: 10257, 57124: 10257, 24493: 4769, 25526: 10257, 130113: 10257, 364164: 10257, 39841: 7809, 70789: 13274, 42873: 21518, 184360: 1729, 173461: 1729, 31045: 13274, 30955: 21518, 172948: 21518, 357880: 1729, 166422: 1729, 37185: 13274, 47382: 1729, 103419: 1729, 46509: 1729, 38573: 21518, 89185: 1729, 41292: 21518, 280485: 21518, 49543: 10257, 27702: 10257, 27155: 7809, 243509: 13274, 425457: 13274, 202562: 1729, 167035: 4769, 413557: 4769, 187563: 4769, 71605: 7809, 40659: 4769, 32579: 1729, 196366: 7809, 46892: 4769, 424918: 4769, 46653: 4769, 184138: 21518, 11736: 1729, 150731: 21518, 41769: 10257, 35324: 21518, 11685: 10257, 32748: 10257, 27734: 10257, 41542: 10257, 517294: 21518, 182839: 10257, 35644: 10257, 39367: 10257, 276738: 7809, 79737: 21518, 35327: 1729, 45244: 21518, 562267: 13274, 39792: 21518, 604374: 4769, 33028: 21518, 607148: 21518, 75331: 21518, 30834: 7809, 277460: 13274, 63520: 1729, 301023: 10257, 26458: 13274, 26324: 4769, 172388: 13274, 30922: 1729, 38842: 21518, 79982: 7809, 168727: 10257, 69008: 7809, 49939: 10257, 107280: 1729, 38834: 10257, 182223: 1729, 24948: 1729, 23354: 1729, 571709: 7809, 205278: 21518, 46518: 1729, 595586: 10257, 36180: 7809, 72813: 7809, 72623: 21518, 192770: 4769, 411617: 21518, 479020: 1729, 185386: 4769, 313825: 7809, 115798: 21518, 26111: 1729, 26344: 1729, 303139: 4769, 93488: 4769, 488958: 10257, 317932: 4769, 438167: 4769, 161415: 1729, 614453: 13274, 188089: 13274, 46056: 13274, 150589: 13274, 25551: 13274, 104045: 7809, 467480: 13274, 155534: 7809, 30872: 7809, 210065: 21518, 276121: 1729, 24147: 1729, 45571: 1729, 240538: 1729, 209413: 13274, 47552: 13274, 45749: 21518, 68253: 7809, 163160: 4769, 148830: 4769, 277390: 4769, 441871: 4769, 89475: 4769, 210404: 4769, 210146: 4769, 210114: 4769, 181619: 4769, 280965: 4769, 131995: 4769, 611223: 4769, 192920: 4769, 357220: 4769, 11319: 4769, 41092: 21518, 488139: 4769, 215168: 7809, 303059: 13274, 97498: 21518, 528050: 13274, 22964: 1729, 26419: 4769, 23021: 1729, 24741: 1729, 58499: 21518, 96643: 1729, 242151: 21518, 38431: 21518, 175305: 21518, 38433: 10257, 102623: 21518, 40601: 10257, 26223: 10257, 265591: 4769, 25519: 10257, 278341: 4769, 69650: 1729, 35442: 1729, 281110: 13274, 26589: 13274, 37215: 13274, 40197: 4769, 258245: 7809, 31306: 1729, 26777: 1729, 316688: 1729, 210691: 4769, 115160: 1729, 143523: 13274, 41083: 4769, 422685: 10257, 79013: 10257, 267911: 10257, 42479: 21518, 193937: 21518, 202633: 4769, 147594: 13274, 193859: 1729, 481694: 4769, 150922: 7809, 112205: 21518, 172841: 1729, 425255: 1729, 179201: 13274, 37480: 21518, 214685: 1729, 358289: 21518, 213694: 21518, 166648: 21518, 195717: 10257, 49940: 10257, 174062: 4769, 317822: 7809, 33024: 21518, 25563: 21518, 102620: 21518, 56972: 1729, 38817: 10257, 75342: 21518, 518240: 21518, 106309: 7809, 34543: 1729, 41194: 4769, 46708: 4769, 26168: 4769, 27512: 7809, 71603: 4769, 466308: 4769, 51953: 21518, 159465: 13274, 72541: 1729, 39419: 10257, 30613: 1729, 78314: 7809, 92375: 21518, 248169: 4769, 29581: 1729, 213653: 21518, 39109: 1729, 187266: 1729, 40707: 4769, 186153: 4769, 38373: 1729, 94549: 4769, 148302: 1729, 40176: 7809, 43247: 1729, 23257: 1729, 243248: 4769, 388025: 4769, 165823: 1729, 45496: 13274, 34530: 10257, 242887: 1729, 148315: 1729, 67890: 4769, 178804: 7809, 39334: 10257, 157723: 1729, 43061: 7809, 27324: 7809, 355358: 7809, 39535: 10257, 30250: 7809, 25483: 7809, 97727: 7809, 27774: 7809, 29543: 7809, 269788: 7809, 180126: 7809, 40730: 4769, 277412: 4769, 46884: 4769, 154229: 4769, 192711: 4769, 130670: 1729, 161414: 1729, 103218: 10257, 161660: 7809, 400962: 4769, 71602: 4769, 37421: 21518, 41890: 10257, 25366: 7809, 41874: 10257, 113968: 1729, 307069: 7809, 35989: 7809, 41174: 4769, 182925: 4769, 23311: 1729, 409161: 4769, 151063: 21518, 38865: 13274, 169721: 1729, 28081: 7809, 318535: 10257, 473852: 4769, 38581: 21518, 103428: 1729, 169162: 1729, 25075: 1729, 113695: 21518, 46297: 21518, 114076: 1729, 500791: 21518, 24791: 10257, 42650: 10257, 26310: 10257, 58294: 21518, 30906: 10257, 24970: 10257, 239350: 10257, 39229: 10257, 30893: 21518, 50449: 10257, 149855: 13274, 24658: 1729, 38920: 10257, 110113: 13274, 512747: 13274, 161012: 1729, 514806: 13274, 101969: 1729, 195335: 21518, 179206: 13274, 46726: 4769, 23030: 1729, 321020: 13274, 433311: 21518, 280528: 21518, 174634: 7809, 33988: 21518, 37319: 7809, 94915: 7809, 35828: 7809, 188498: 7809, 40957: 21518, 40940: 21518, 282674: 21518, 26399: 4769, 37684: 13274, 141145: 7809, 177720: 7809, 38759: 1729, 24138: 7809, 75307: 21518, 522576: 21518, 97734: 7809, 51553: 1729, 74169: 4769, 195413: 10257, 34952: 10257, 41536: 10257, 24405: 10257, 41540: 10257, 30682: 10257, 27672: 10257, 37541: 10257, 24793: 10257, 42692: 10257, 358155: 10257, 585237: 10257, 115184: 4769, 362120: 10257, 130155: 10257, 210704: 10257, 19249: 10257, 417818: 13274, 173317: 1729, 143512: 13274, 214426: 1729, 46353: 1729, 49571: 1729, 163165: 13274, 113836: 1729, 38432: 7809, 179522: 4769, 18734: 4769, 39304: 10257, 158278: 13274, 609733: 1729, 24148: 1729, 24156: 21518, 158841: 13274, 289278: 21518, 104482: 1729, 277609: 13274, 18904: 7809, 121633: 7809, 41294: 21518, 37456: 21518, 479217: 21518, 182917: 1729, 25415: 1729, 553597: 7809, 108572: 21518, 215584: 21518, 52133: 4769, 131583: 1729, 30276: 21518, 41175: 4769, 23190: 1729, 50065: 1729, 37545: 10257, 30918: 4769, 37459: 1729, 99047: 21518, 103266: 10257, 39294: 10257, 39222: 10257, 24500: 10257, 150466: 10257, 244811: 10257, 501568: 7809, 298448: 13274, 178765: 13274, 22894: 1729, 34437: 1729, 191616: 1729, 309537: 21518, 161662: 10257, 179009: 21518, 114268: 1729, 249225: 13274, 27573: 4769, 26450: 13274, 359197: 21518, 155639: 13274, 282281: 21518, 352023: 13274, 39940: 13274, 33338: 7809, 210126: 4769, 141113: 7809, 150217: 13274, 34381: 21518, 562801: 13274, 602836: 13274, 476769: 7809, 192899: 1729, 292773: 13274, 163971: 21518, 33128: 4769, 30822: 1729, 47357: 7809, 5710: 13274, 96613: 21518, 30820: 7809, 24383: 21518, 161396: 4769, 19243: 1729, 70891: 21518, 150395: 10257, 56678: 21518, 429988: 10257, 41466: 10257, 2752: 21518, 213504: 21518, 184132: 10257, 101422: 10257, 297579: 4769, 89476: 4769, 27430: 4769, 478345: 4769, 261609: 21518, 25496: 4769, 242783: 21518, 208926: 21518, 110184: 13274, 41165: 13274, 583417: 13274, 426202: 4769, 185000: 4769, 74838: 4769, 41605: 10257, 242156: 4769, 177874: 10257, 279861: 13274, 364520: 10257, 74435: 21518, 36934: 7809, 303905: 7809, 242308: 7809, 186805: 4769, 173484: 4769, 46104: 10257, 243481: 13274, 41122: 4769, 37450: 21518, 75445: 10257, 30983: 10257, 22824: 7809, 94267: 1729, 16254: 4769, 116555: 10257, 363340: 1729, 42703: 1729, 139635: 4769, 369859: 21518, 107417: 1729, 268394: 10257, 477493: 21518, 30920: 10257, 179491: 7809, 128360: 21518, 15403: 1729, 49677: 4769, 17855: 13274, 26489: 10257, 74757: 21518, 425595: 21518, 50661: 1729, 307226: 4769, 108075: 4769, 42247: 1729, 207045: 13274, 156551: 1729, 215804: 7809, 26675: 7809, 22313: 7809, 574642: 4769, 150242: 13274, 293160: 10257, 352394: 13274, 240346: 13274, 317775: 21518, 167634: 1729, 79262: 10257, 24516: 10257, 47547: 21518, 268375: 1729, 34008: 10257, 279172: 4769, 394825: 21518, 41671: 10257, 26255: 7809, 30960: 1729, 192325: 10257, 42420: 10257, 128666: 4769, 161420: 1729, 307021: 1729, 38536: 21518, 170341: 21518, 195927: 1729, 519575: 4769, 34000: 10257, 40148: 21518, 193930: 21518, 210406: 4769, 574200: 21518, 361315: 1729, 331528: 7809, 62358: 13274, 95082: 7809, 99323: 13274, 231674: 13274, 112471: 13274, 174850: 1729, 411616: 21518, 37194: 1729, 169750: 13274, 177942: 7809, 158886: 4769, 97789: 10257, 45413: 10257, 214984: 13274, 30930: 1729, 41156: 21518, 41365: 1729, 26326: 4769, 46079: 13274, 150747: 10257, 27420: 7809, 162885: 10257, 108568: 21518, 467056: 13274, 18925: 4769, 164029: 10257, 78324: 1729, 114963: 7809, 37357: 7809, 42297: 7809, 49836: 21518, 41666: 10257, 38435: 4769, 94323: 4769, 359188: 4769, 184822: 1729, 29590: 21518, 113239: 10257, 39540: 10257, 47566: 21518, 30929: 1729, 22283: 10257, 113318: 10257, 393720: 13274, 422281: 4769, 147614: 4769, 187017: 10257, 143795: 21518, 279173: 21518, 244136: 21518, 27658: 10257, 450812: 4769, 24622: 10257, 365624: 10257, 414245: 10257, 95509: 1729, 155050: 1729, 39599: 10257, 474680: 21518, 41497: 10257, 42524: 21518, 230190: 10257, 41622: 21518, 188533: 13274, 103691: 4769, 20396: 7809, 129462: 7809, 27719: 10257, 427984: 13274, 237541: 7809, 164259: 7809, 614212: 7809, 177953: 7809, 505866: 4769, 171899: 10257, 40196: 1729, 211146: 4769, 39198: 21518, 293360: 13274, 33030: 10257, 33848: 21518, 11555: 21518, 30853: 10257, 101103: 1729, 33773: 21518, 202610: 21518, 106292: 10257, 178538: 7809, 281012: 7809, 206809: 13274, 319975: 21518, 41167: 1729, 35852: 7809, 26291: 4769, 30679: 4769, 188465: 4769, 291015: 7809, 45272: 7809, 26118: 4769, 277439: 4769, 254308: 4769, 599425: 21518, 215245: 1729, 131991: 4769, 24157: 1729, 282713: 21518, 518664: 21518, 73024: 10257, 181920: 10257, 27558: 10257, 40656: 10257, 41841: 10257, 41694: 10257, 74034: 10257, 24414: 10257, 41735: 10257, 37457: 10257, 30714: 10257, 159594: 1729, 241825: 21518, 40672: 21518, 199839: 21518, 26107: 4769, 30924: 7809, 26264: 4769, 145070: 4769, 27663: 10257, 49825: 7809, 212644: 10257, 270774: 10257, 46712: 4769, 26162: 4769, 564856: 4769, 26216: 4769, 195706: 4769, 30631: 1729, 26708: 13274, 95336: 1729, 612747: 4769, 231753: 10257, 180283: 1729, 41199: 10257, 323438: 21518, 101586: 13274, 171786: 13274, 150248: 13274, 33635: 21518, 23264: 1729, 39968: 1729, 40621: 10257, 177503: 21518, 202341: 10257, 41478: 10257, 25595: 10257, 213319: 4769, 31291: 1729, 40758: 4769, 30739: 4769, 163205: 21518, 426873: 4769, 159839: 4769, 245287: 4769, 31921: 21518, 23782: 1729, 32441: 1729, 302912: 21518, 23783: 1729, 49970: 10257, 190872: 1729, 315460: 10257, 42119: 4769, 166452: 7809, 39273: 10257, 119541: 1729, 46705: 4769, 214972: 4769, 29471: 7809, 32304: 1729, 501940: 10257, 473855: 4769, 108038: 13274, 251925: 21518, 246438: 21518, 37482: 21518, 33339: 1729, 32678: 21518, 35421: 10257, 245555: 21518, 37950: 10257, 150590: 13274, 127460: 10257, 24549: 10257, 27731: 10257, 540073: 7809, 118616: 10257, 27684: 10257, 566785: 7809, 150410: 10257, 30717: 10257, 186831: 4769, 196805: 4769, 31731: 13274, 39201: 10257, 243429: 13274, 26616: 13274, 46244: 4769, 187669: 4769, 37206: 13274, 41884: 10257, 41157: 21518, 357230: 13274, 39284: 10257, 39357: 10257, 79246: 4769, 191080: 7809, 39207: 10257, 27660: 10257, 41376: 10257, 41432: 10257, 34036: 1729, 35523: 1729, 23253: 1729, 45839: 13274, 426880: 4769, 518663: 10257, 16300: 7809, 25818: 10257, 37273: 10257, 27427: 7809, 56686: 21518, 25759: 10257, 49885: 7809, 38458: 10257, 38540: 21518, 33764: 21518, 157252: 7809, 32734: 1729, 207236: 7809, 41280: 1729, 265924: 10257, 210122: 4769, 26327: 4769, 154230: 4769, 109651: 4769, 154232: 21518, 39726: 10257, 150407: 10257, 426878: 4769, 40139: 21518, 267863: 10257, 38253: 4769, 33422: 10257, 282460: 21518, 25560: 4769, 157630: 13274, 18673: 21518, 500602: 10257, 172346: 13274, 30668: 1729, 102290: 13274, 157729: 1729, 395422: 13274, 37292: 7809, 20125: 7809, 304733: 7809, 614213: 13274, 360559: 13274, 35997: 7809, 485047: 13274, 33588: 21518, 170775: 7809, 502420: 1729, 194165: 1729, 26163: 1729, 427438: 1729, 70812: 21518, 127894: 21518, 183158: 21518, 27461: 7809, 40958: 21518, 184114: 21518, 41360: 4769, 94010: 4769, 26476: 13274, 73167: 7809, 128037: 10257, 21446: 10257, 103714: 4769, 435960: 4769, 212867: 7809, 574234: 13274, 26138: 4769, 116645: 7809, 115847: 7809, 179759: 10257, 94886: 7809, 37550: 10257, 42388: 10257, 26295: 1729, 183462: 21518, 174472: 21518, 37434: 21518, 161015: 10257, 261787: 21518, 213470: 21518, 543358: 4769, 58351: 7809, 94289: 7809, 179410: 4769, 112758: 21518, 39555: 10257, 306296: 10257, 213682: 13274, 38044: 21518, 30657: 21518, 179772: 21518, 179236: 13274, 178818: 7809, 46289: 21518, 281086: 7809, 604105: 21518, 213812: 21518, 282676: 21518, 188054: 10257, 33959: 21518, 161661: 10257, 213702: 21518, 409812: 10257, 289140: 4769, 561838: 13274, 191315: 21518, 182106: 10257, 25657: 4769, 264085: 4769, 258873: 4769, 179407: 21518, 409193: 4769, 157369: 4769, 434778: 10257, 361792: 21518, 287691: 21518, 173609: 10257, 163670: 7809, 195190: 10257, 15732: 10257, 25773: 21518, 33856: 21518, 128852: 10257, 30764: 7809, 39847: 7809, 177475: 7809, 201888: 7809, 288880: 1729, 160243: 1729, 46008: 1729, 312765: 1729, 109058: 1729, 143793: 1729, 238838: 10257, 31037: 4769, 37461: 21518, 74689: 21518, 496563: 13274, 287231: 7809, 289159: 1729, 604589: 1729, 115681: 1729, 43319: 7809, 93984: 4769, 163200: 1729, 24751: 1729, 28901: 1729, 101192: 1729, 38807: 1729, 24171: 1729, 164684: 21518, 109897: 1729, 279490: 1729, 532741: 1729, 286119: 1729, 158879: 7809, 177126: 21518, 37762: 1729, 109649: 13274, 27425: 7809, 278823: 7809, 561849: 13274, 463803: 4769, 205893: 7809, 215005: 13274, 24104: 7809, 422128: 13274, 30907: 4769, 210932: 10257, 192303: 1729, 35345: 1729, 23134: 1729, 212512: 13274, 160844: 21518, 74747: 21518, 46808: 21518, 183498: 21518, 185123: 21518, 80492: 21518, 172324: 21518, 251256: 21518, 70409: 1729, 299984: 1729, 37410: 7809, 38818: 21518, 129391: 4769, 37576: 10257, 40676: 4769, 25572: 4769, 103470: 4769, 242958: 4769, 279879: 4769, 41818: 10257, 26279: 4769, 11316: 4769, 402975: 13274, 445226: 4769, 46407: 21518, 190142: 1729, 521195: 13274, 178767: 13274, 26437: 7809, 52563: 1729, 184821: 13274, 245315: 13274, 150745: 13274, 26010: 13274, 214570: 1729, 165525: 13274, 301456: 21518, 638618: 13274, 42829: 13274, 113340: 7809, 188557: 13274, 94164: 7809, 245526: 7809, 94019: 4769, 35499: 4769, 26403: 21518, 33782: 10257, 40740: 4769, 40537: 4769, 46338: 4769, 443966: 7809, 39990: 4769, 30348: 1729, 110142: 13274, 5044: 13274, 150236: 13274, 36183: 7809, 41236: 4769, 611831: 13274, 211020: 13274, 281085: 21518, 186837: 13274, 25329: 4769, 35121: 4769, 299215: 1729, 595752: 13274, 210956: 13274, 174030: 21518, 33843: 21518, 33991: 1729, 240205: 13274, 291425: 21518, 26330: 7809, 309496: 7809, 503659: 13274, 574662: 21518, 361757: 21518, 37549: 4769, 203739: 10257, 25990: 7809, 319631: 10257, 96509: 21518, 37824: 10257, 243421: 13274, 47558: 1729, 30630: 1729, 31432: 1729, 22929: 1729, 242094: 21518, 154246: 10257, 171698: 7809, 186054: 1729, 304455: 13274, 146830: 1729, 293718: 13274, 24205: 1729, 23931: 1729, 248151: 13274, 113292: 13274, 110214: 13274, 37756: 4769, 46704: 4769, 30986: 7809, 212520: 13274, 237542: 7809, 40985: 7809, 278831: 7809, 24150: 1729, 32345: 1729, 263653: 1729, 30627: 1729, 30839: 7809, 103468: 4769, 360918: 21518, 33086: 1729, 191136: 21518, 449494: 21518, 478390: 21518, 33852: 1729, 307210: 7809, 242260: 13274, 331542: 7809, 120598: 4769, 210142: 4769, 26527: 1729, 40686: 10257, 26236: 4769, 24123: 21518, 208984: 4769, 189101: 21518, 215307: 4769, 101920: 21518, 192319: 4769, 193807: 4769, 240837: 7809, 33881: 1729, 280483: 21518, 19352: 10257, 128732: 21518, 127130: 1729, 43248: 1729, 130667: 7809, 26491: 13274, 466854: 13274, 21765: 13274, 352943: 4769, 473853: 4769, 154280: 4769, 210119: 4769, 156008: 1729, 422413: 13274, 261313: 4769, 45837: 13274, 150739: 21518, 193223: 1729, 38427: 21518, 150632: 21518, 118929: 1729, 213684: 21518, 280653: 1729, 149917: 1729, 109639: 13274, 209384: 13274, 167059: 13274, 303929: 13274, 257847: 1729, 183321: 21518, 282775: 10257, 37787: 13274, 93466: 4769, 422121: 13274, 467495: 13274, 38148: 21518, 213816: 21518, 38821: 21518, 161651: 21518, 2768: 21518, 37475: 1729, 26552: 1729, 391058: 21518, 474589: 21518, 35712: 10257, 26554: 1729, 477472: 21518, 185625: 4769, 99333: 21518, 364244: 21518, 18521: 10257, 150330: 10257, 183521: 21518, 470868: 10257, 186121: 21518, 238841: 21518, 359190: 21518, 35559: 4769, 485141: 21518, 239287: 10257, 172321: 7809, 389845: 13274, 239774: 10257, 161421: 7809, 215226: 13274, 110106: 13274, 194533: 7809, 147951: 10257, 427893: 21518, 70297: 1729, 282691: 7809, 50074: 10257, 215927: 21518, 246422: 21518, 38484: 21518, 155066: 10257, 189178: 21518, 116253: 4769, 42491: 10257, 245572: 10257, 41468: 1729, 25735: 10257, 51371: 4769, 190452: 21518, 37449: 21518, 239981: 10257, 33634: 21518, 39719: 10257, 197352: 10257, 37484: 21518, 103905: 21518, 38424: 21518, 191873: 21518, 573463: 21518, 66633: 13274, 115723: 13274, 59595: 7809, 516846: 7809, 243164: 7809, 461356: 7809, 278815: 7809, 141161: 7809, 36771: 7809, 22998: 1729, 282680: 21518, 36394: 4769, 46757: 4769, 42693: 4769, 410160: 4769, 51841: 7809, 113465: 1729, 354495: 7809, 72518: 10257, 289441: 13274, 279104: 13274, 441164: 7809, 243501: 13274, 210428: 10257, 43329: 21518, 150670: 10257, 69541: 4769, 186847: 13274, 208230: 7809, 26166: 21518, 26539: 13274, 33065: 7809, 282286: 13274, 35466: 1729, 187333: 13274, 37770: 1729, 179891: 4769, 459493: 7809, 72656: 10257, 35496: 1729, 159854: 13274, 26002: 13274, 363369: 13274, 469804: 13274, 304353: 13274, 210692: 4769, 169200: 7809, 566158: 13274, 26392: 21518, 155548: 4769, 94652: 7809, 279107: 13274, 185175: 7809, 307224: 4769, 39999: 4769, 26151: 1729, 40018: 4769, 23933: 1729, 114558: 10257, 159882: 4769, 145550: 7809, 110168: 13274, 467466: 13274, 167589: 7809, 212893: 7809, 264221: 7809, 27335: 7809, 51949: 21518, 37401: 13274, 278284: 13274, 184629: 10257, 79264: 4769, 78513: 1729, 30352: 1729, 191869: 1729, 4292

In [69]:
player_league_df = pd.DataFrame(players_leagues_dict.items(), columns=['player_id', 'league_id'])

In [70]:
print(player_league_df)

      player_id  league_id
0        155782       1729
1         27316       7809
2         30895       1729
3        101042      13274
4         40719      21518
...         ...        ...
2693      35724       4769
2694      42860       7809
2695     107281       7809
2696     282473      10257
2697      26357       4769

[2698 rows x 2 columns]

In [71]:
# Merge player_df and player_league_df

In [72]:
player_df

       player_id         player_name    birthday  height  weight
0         155782     Aaron Cresswell  1989-12-15  170.18     146
12         27316          Aaron Hunt  1986-09-04  182.88     161
21         30895        Aaron Lennon  1987-04-16  165.10     139
31        101042       Aaron Meijers  1987-10-28  175.26     170
39         40719        Aaron Niguez  1989-04-26  170.18     143
...          ...                 ...         ...     ...     ...
33519      35724  Zlatan Ibrahimovic  1981-10-03  195.58     209
33525      42860    Zlatko Junuzovic  1987-09-26  172.72     152
33549     107281      Zoltan Stieber  1988-10-16  175.26     148
33560     282473      Zouhair Feddal  1989-01-01  190.50     172
33574      26357      Zoumana Camara  1979-04-03  182.88     168

[3746 rows x 5 columns]

In [73]:
final_player_df = pd.merge(player_league_df, player_df, on='player_id', how='outer')

In [74]:
final_player_df

      player_id  league_id       player_name    birthday  height  weight
0        155782     1729.0   Aaron Cresswell  1989-12-15  170.18     146
1         27316     7809.0        Aaron Hunt  1986-09-04  182.88     161
2         30895     1729.0      Aaron Lennon  1987-04-16  165.10     139
3        101042    13274.0     Aaron Meijers  1987-10-28  175.26     170
4         40719    21518.0      Aaron Niguez  1989-04-26  170.18     143
...         ...        ...               ...         ...     ...     ...
3741     302079        NaN         Yuya Kubo  1993-12-24  177.80     159
3742     274787        NaN        Yvon Mvogo  1994-06-06  187.96     185
3743     432463        NaN   Zakaria Bakkali  1996-01-26  165.10     132
3744     143750        NaN       Zargo Toure  1989-11-11  182.88     161
3745     642618        NaN  Zinedine Machach  1996-01-05  185.42     163

[3746 rows x 6 columns]

In [75]:
final_player_df.isna().sum()

player_id         0
league_id      1048
player_name       0
birthday          0
height            0
weight            0
dtype: int64

In [76]:
final_player_df.dropna(subset=['league_id'],axis=0,inplace=True)

In [77]:
final_player_df

      player_id  league_id         player_name    birthday  height  weight
0        155782     1729.0     Aaron Cresswell  1989-12-15  170.18     146
1         27316     7809.0          Aaron Hunt  1986-09-04  182.88     161
2         30895     1729.0        Aaron Lennon  1987-04-16  165.10     139
3        101042    13274.0       Aaron Meijers  1987-10-28  175.26     170
4         40719    21518.0        Aaron Niguez  1989-04-26  170.18     143
...         ...        ...                 ...         ...     ...     ...
2693      35724     4769.0  Zlatan Ibrahimovic  1981-10-03  195.58     209
2694      42860     7809.0    Zlatko Junuzovic  1987-09-26  172.72     152
2695     107281     7809.0      Zoltan Stieber  1988-10-16  175.26     148
2696     282473    10257.0      Zouhair Feddal  1989-01-01  190.50     172
2697      26357     4769.0      Zoumana Camara  1979-04-03  182.88     168

[2698 rows x 6 columns]

In [78]:
rearranged_players_df = final_player_df[["player_id","player_name","birthday","height","weight","league_id"]]

In [79]:
rearranged_players_df

      player_id         player_name    birthday  height  weight  league_id
0        155782     Aaron Cresswell  1989-12-15  170.18     146     1729.0
1         27316          Aaron Hunt  1986-09-04  182.88     161     7809.0
2         30895        Aaron Lennon  1987-04-16  165.10     139     1729.0
3        101042       Aaron Meijers  1987-10-28  175.26     170    13274.0
4         40719        Aaron Niguez  1989-04-26  170.18     143    21518.0
...         ...                 ...         ...     ...     ...        ...
2693      35724  Zlatan Ibrahimovic  1981-10-03  195.58     209     4769.0
2694      42860    Zlatko Junuzovic  1987-09-26  172.72     152     7809.0
2695     107281      Zoltan Stieber  1988-10-16  175.26     148     7809.0
2696     282473      Zouhair Feddal  1989-01-01  190.50     172    10257.0
2697      26357      Zoumana Camara  1979-04-03  182.88     168     4769.0

[2698 rows x 6 columns]

# The Datasets

In [80]:
rearranged_players_df

      player_id         player_name    birthday  height  weight  league_id
0        155782     Aaron Cresswell  1989-12-15  170.18     146     1729.0
1         27316          Aaron Hunt  1986-09-04  182.88     161     7809.0
2         30895        Aaron Lennon  1987-04-16  165.10     139     1729.0
3        101042       Aaron Meijers  1987-10-28  175.26     170    13274.0
4         40719        Aaron Niguez  1989-04-26  170.18     143    21518.0
...         ...                 ...         ...     ...     ...        ...
2693      35724  Zlatan Ibrahimovic  1981-10-03  195.58     209     4769.0
2694      42860    Zlatko Junuzovic  1987-09-26  172.72     152     7809.0
2695     107281      Zoltan Stieber  1988-10-16  175.26     148     7809.0
2696     282473      Zouhair Feddal  1989-01-01  190.50     172    10257.0
2697      26357      Zoumana Camara  1979-04-03  182.88     168     4769.0

[2698 rows x 6 columns]

In [81]:
rearranged_players_df['league_id'] = rearranged_players_df['league_id'].astype(int)

In [82]:
rearranged_players_df

      player_id         player_name    birthday  height  weight  league_id
0        155782     Aaron Cresswell  1989-12-15  170.18     146       1729
1         27316          Aaron Hunt  1986-09-04  182.88     161       7809
2         30895        Aaron Lennon  1987-04-16  165.10     139       1729
3        101042       Aaron Meijers  1987-10-28  175.26     170      13274
4         40719        Aaron Niguez  1989-04-26  170.18     143      21518
...         ...                 ...         ...     ...     ...        ...
2693      35724  Zlatan Ibrahimovic  1981-10-03  195.58     209       4769
2694      42860    Zlatko Junuzovic  1987-09-26  172.72     152       7809
2695     107281      Zoltan Stieber  1988-10-16  175.26     148       7809
2696     282473      Zouhair Feddal  1989-01-01  190.50     172      10257
2697      26357      Zoumana Camara  1979-04-03  182.88     168       4769

[2698 rows x 6 columns]

In [83]:
teams_df1

      team_id team_short_name            team_long_name  league_id
0        9837             REI            Stade de Reims       4769
1        7794             BAS                 SC Bastia       4769
2        4087             ETG  Évian Thonon Gaillard FC       4769
3        9747             GUI      En Avant de Guingamp       4769
4       10249             MON    Montpellier Hérault SC       4769
...       ...             ...                       ...        ...
1345     8674             GRO              FC Groningen      13274
1348     9908             UTR                FC Utrecht      13274
1352     8277             VIT                   Vitesse      13274
1356     8611             TWE                 FC Twente      13274
1357     8640             PSV                       PSV      13274

[116 rows x 4 columns]

In [84]:
matchstats_df

,id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info
0,7049,4769,2014/2015,08/08/2014 00:00,9837,9847,2,2,"([[22, 94321, 89476, n], [34, 46653, 159839, n...","[[73, 190972, y], [88, 242958, y]]","[[15, 26852, 3631175], [44, 26852, 3631254], [..."
1,7050,4769,2014/2015,09/08/2014 00:00,7794,8592,3,3,"([[9, 192711, 0, n], [17, 31014, 0, o], [66, 2...","[[19, 42693, y], [64, 280965, y], [82, 40197, ...","[[20, 254308, 3633773], [20, 254308, 3633779],..."
2,7051,4769,2014/2015,09/08/2014 00:00,4087,7819,0,3,"([], [[12, 319300, 289155, n], [32, 210466, 0,...","[[48, 35121, y], [90, 128666, y]]","[[19, 46757, 3633745], [21, 74169, 3633777], [..."
3,7052,4769,2014/2015,09/08/2014 00:00,9747,9853,0,2,"([], [[39, 26374, 0, p], [90, 26374, 0, n]])","[[38, 277412, y], [55, 94323, y], [73, 26051, ...","[[20, 46349, 3633760], [23, 46349, 3633804], [..."
4,7056,4769,2014/2015,09/08/2014 00:00,10249,9827,0,1,"([], [[17, 40707, 352833, n]])","[[7, 139635, y], [33, 154230, y], [63, 355901,...","[[13, 166019, 3633661], [30, 25525, 3633915], ..."
...,...,...,...,...,...,...,...,...,...,...,...
1885,12827,10257,2014/2015,31/05/2015 00:00,8636,8534,4,3,"([[49, 30991, 282770, n], [53, 282770, 239219,...","[[63, 365624, y], [67, 41688, y], [84, 21446, ...","[[6, 21446, 4532573], [22, 21446, 4532792], [3..."
1886,12828,10257,2014/2015,31/05/2015 00:00,7943,10233,3,1,"([[4, 364520, 27685, n], [19, 166595, 364520, ...","[[7, 113318, y], [27, 154239, y], [64, 52243, ...","[[14, 195199, 4532690], [30, 161015, 4532894],..."
1887,12831,10257,2014/2015,31/05/2015 00:00,8686,8540,1,2,"([[85, 30714, 41433, n]], [[35, 270774, 0, p],...","[[56, 103266, y], [68, 108401, y], [77, 41874,...","[[20, 270774, 4532699], [21, 270774, 4532707],..."
1888,12832,10257,2014/2015,31/05/2015 00:00,9882,10167,2,2,"([[54, 362195, 317156, n], [79, 25587, 33639, ...","[[78, 50449, y]]","[[4, 317156, 4532547], [7, 39367, 4532589], [2..."
1889,12833,10257,2014/2015,31/05/2015 00:00,8529,8600,4,3,"([[13, 79253, 0, n], [19, 203739, 192079, n], ...","[[16, 279873, y], [28, 19249, y], [54, 401095,...","[[25, 422685, 4532049], [37, 422685, 4532103],..."

In [85]:
matchstats_df['card_info'].iloc[0]

[['73', '190972', 'y'], ['88', '242958', 'y']]

In [86]:
league_df

      league_id             league_name
0          4769          France Ligue 1
10         1729  England Premier League
28         7809   Germany 1. Bundesliga
44        21518         Spain LIGA BBVA
84        10257           Italy Serie A
1332      13274  Netherlands Eredivisie

In [87]:
player_attributes_df

,player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,155782,2015-12-24,73.0,75.0,left,high,medium,79.0,51.0,57.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
1,27316,2015-09-25,77.0,77.0,left,medium,medium,77.0,72.0,64.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
2,30895,2015-10-16,77.0,77.0,right,high,medium,78.0,66.0,28.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
3,101042,2015-12-03,69.0,69.0,left,medium,medium,63.0,42.0,59.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
4,40719,2015-12-17,71.0,73.0,left,medium,medium,64.0,67.0,54.0,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3741,35724,2015-09-21,89.0,89.0,right,medium,low,76.0,90.0,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
3742,42860,2015-11-26,78.0,78.0,right,high,high,86.0,66.0,58.0,...,78.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
3743,107281,2015-11-06,73.0,74.0,left,medium,medium,69.0,71.0,45.0,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
3744,282473,2015-11-06,75.0,77.0,left,medium,medium,60.0,40.0,73.0,...,47.0,48.0,78.0,79.0,68.0,13.0,14.0,12.0,10.0,8.0
3745,26357,2015-03-06,73.0,73.0,right,low,medium,42.0,27.0,74.0,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0

In [88]:
player_attributes_df["overall_rating"] = player_attributes_df["overall_rating"].astype(int)

In [89]:
player_attributes_df["potential"] = player_attributes_df["potential"].astype(int)

In [90]:
playerid_df = rearranged_players_df[["player_id"]]

In [91]:
playerid_df

      player_id
0        155782
1         27316
2         30895
3        101042
4         40719
...         ...
2693      35724
2694      42860
2695     107281
2696     282473
2697      26357

[2698 rows x 1 columns]

In [92]:
player_attributes_df

,player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,155782,2015-12-24,73,75,left,high,medium,79.0,51.0,57.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
1,27316,2015-09-25,77,77,left,medium,medium,77.0,72.0,64.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
2,30895,2015-10-16,77,77,right,high,medium,78.0,66.0,28.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
3,101042,2015-12-03,69,69,left,medium,medium,63.0,42.0,59.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
4,40719,2015-12-17,71,73,left,medium,medium,64.0,67.0,54.0,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3741,35724,2015-09-21,89,89,right,medium,low,76.0,90.0,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
3742,42860,2015-11-26,78,78,right,high,high,86.0,66.0,58.0,...,78.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
3743,107281,2015-11-06,73,74,left,medium,medium,69.0,71.0,45.0,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
3744,282473,2015-11-06,75,77,left,medium,medium,60.0,40.0,73.0,...,47.0,48.0,78.0,79.0,68.0,13.0,14.0,12.0,10.0,8.0
3745,26357,2015-03-06,73,73,right,low,medium,42.0,27.0,74.0,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0

In [93]:
player_attributes_df1 = pd.merge(player_attributes_df, playerid_df, on="player_id")

In [94]:
player_attributes_df1

,player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,155782,2015-12-24,73,75,left,high,medium,79.0,51.0,57.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
1,27316,2015-09-25,77,77,left,medium,medium,77.0,72.0,64.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
2,30895,2015-10-16,77,77,right,high,medium,78.0,66.0,28.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
3,101042,2015-12-03,69,69,left,medium,medium,63.0,42.0,59.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
4,40719,2015-12-17,71,73,left,medium,medium,64.0,67.0,54.0,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693,35724,2015-09-21,89,89,right,medium,low,76.0,90.0,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
2694,42860,2015-11-26,78,78,right,high,high,86.0,66.0,58.0,...,78.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
2695,107281,2015-11-06,73,74,left,medium,medium,69.0,71.0,45.0,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
2696,282473,2015-11-06,75,77,left,medium,medium,60.0,40.0,73.0,...,47.0,48.0,78.0,79.0,68.0,13.0,14.0,12.0,10.0,8.0
2697,26357,2015-03-06,73,73,right,low,medium,42.0,27.0,74.0,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0

In [95]:
for col in enumerate(player_attributes_df.columns):
    print(col)

(0, 'player_id')
(1, 'date')
(2, 'overall_rating')
(3, 'potential')
(4, 'preferred_foot')
(5, 'attacking_work_rate')
(6, 'defensive_work_rate')
(7, 'crossing')
(8, 'finishing')
(9, 'heading_accuracy')
(10, 'short_passing')
(11, 'volleys')
(12, 'dribbling')
(13, 'curve')
(14, 'free_kick_accuracy')
(15, 'long_passing')
(16, 'ball_control')
(17, 'acceleration')
(18, 'sprint_speed')
(19, 'agility')
(20, 'reactions')
(21, 'balance')
(22, 'shot_power')
(23, 'jumping')
(24, 'stamina')
(25, 'strength')
(26, 'long_shots')
(27, 'aggression')
(28, 'interceptions')
(29, 'positioning')
(30, 'vision')
(31, 'penalties')
(32, 'marking')
(33, 'standing_tackle')
(34, 'sliding_tackle')
(35, 'gk_diving')
(36, 'gk_handling')
(37, 'gk_kicking')
(38, 'gk_positioning')
(39, 'gk_reflexes')

In [96]:
#Flatten the goals info values 
matchstats_df["goals_info"] = matchstats_df.goals_info.apply(lambda x: sum(x, []))

In [97]:
matchstats_df

,id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info
0,7049,4769,2014/2015,08/08/2014 00:00,9837,9847,2,2,"[[22, 94321, 89476, n], [34, 46653, 159839, n]...","[[73, 190972, y], [88, 242958, y]]","[[15, 26852, 3631175], [44, 26852, 3631254], [..."
1,7050,4769,2014/2015,09/08/2014 00:00,7794,8592,3,3,"[[9, 192711, 0, n], [17, 31014, 0, o], [66, 21...","[[19, 42693, y], [64, 280965, y], [82, 40197, ...","[[20, 254308, 3633773], [20, 254308, 3633779],..."
2,7051,4769,2014/2015,09/08/2014 00:00,4087,7819,0,3,"[[12, 319300, 289155, n], [32, 210466, 0, n], ...","[[48, 35121, y], [90, 128666, y]]","[[19, 46757, 3633745], [21, 74169, 3633777], [..."
3,7052,4769,2014/2015,09/08/2014 00:00,9747,9853,0,2,"[[39, 26374, 0, p], [90, 26374, 0, n]]","[[38, 277412, y], [55, 94323, y], [73, 26051, ...","[[20, 46349, 3633760], [23, 46349, 3633804], [..."
4,7056,4769,2014/2015,09/08/2014 00:00,10249,9827,0,1,"[[17, 40707, 352833, n]]","[[7, 139635, y], [33, 154230, y], [63, 355901,...","[[13, 166019, 3633661], [30, 25525, 3633915], ..."
...,...,...,...,...,...,...,...,...,...,...,...
1885,12827,10257,2014/2015,31/05/2015 00:00,8636,8534,4,3,"[[49, 30991, 282770, n], [53, 282770, 239219, ...","[[63, 365624, y], [67, 41688, y], [84, 21446, ...","[[6, 21446, 4532573], [22, 21446, 4532792], [3..."
1886,12828,10257,2014/2015,31/05/2015 00:00,7943,10233,3,1,"[[4, 364520, 27685, n], [19, 166595, 364520, n...","[[7, 113318, y], [27, 154239, y], [64, 52243, ...","[[14, 195199, 4532690], [30, 161015, 4532894],..."
1887,12831,10257,2014/2015,31/05/2015 00:00,8686,8540,1,2,"[[85, 30714, 41433, n], [35, 270774, 0, p], [9...","[[56, 103266, y], [68, 108401, y], [77, 41874,...","[[20, 270774, 4532699], [21, 270774, 4532707],..."
1888,12832,10257,2014/2015,31/05/2015 00:00,9882,10167,2,2,"[[54, 362195, 317156, n], [79, 25587, 33639, n...","[[78, 50449, y]]","[[4, 317156, 4532547], [7, 39367, 4532589], [2..."
1889,12833,10257,2014/2015,31/05/2015 00:00,8529,8600,4,3,"[[13, 79253, 0, n], [19, 203739, 192079, n], [...","[[16, 279873, y], [28, 19249, y], [54, 401095,...","[[25, 422685, 4532049], [37, 422685, 4532103],..."

In [98]:
matchstats_df["corner_info"].iloc[0]

[[15, 26852, 3631175],
 [44, 26852, 3631254],
 [51, 109651, 3631293],
 [52, 89476, 3631297],
 [73, 26852, 3631347],
 [90, 26852, 3631409]]

In [99]:
matchstats_df["goals_info"].iloc[1]

[['9', '192711', '0', 'n'],
 ['17', '31014', '0', 'o'],
 ['66', '213319', '0', 'p'],
 ['73', '192711', '40197', 'n'],
 ['12', '38098', '280965', 'n'],
 ['62', '38098', '0', 'p']]

In [100]:
matchstats_df["card_info"].iloc[1]

[['19', '42693', 'y'],
 ['64', '280965', 'y'],
 ['82', '40197', 'y'],
 ['87', '131991', 'y']]

# Inserting data to postgres DB

In [101]:
def connect_to_db(host_name, dbname, port, username, password):
    try:
        conn = ps.connect(host=host_name, database=dbname, user=username, password=password, port=port)

    except ps.OperationalError as e:
        raise e
    else:
        print('Connected...!')
        return conn

def create_tables(cursor):
    """ create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE IF NOT EXISTS Country (
                    country_id integer NOT NULL PRIMARY KEY,
                    country_name varchar(255)
            )
            """,
        """
        CREATE TABLE IF NOT EXISTS League (
                    league_id integer NOT NULL PRIMARY KEY,
                    country_id integer,
                    league_name varchar(255),
                    FOREIGN KEY (country_id) REFERENCES Country(country_id)
            )
            """,
        """
        CREATE TABLE IF NOT EXISTS Team (
                    team_id integer NOT NULL PRIMARY KEY,
                    team_short_name varchar(255),
                    team_long_name varchar(255),
                    league_id integer,
                    FOREIGN KEY (league_id) REFERENCES League(league_id)
            )
            """,
        """
        CREATE TABLE IF NOT EXISTS Player (
                    player_id integer NOT NULL PRIMARY KEY,
                    player_name varchar(255),
                    birthday varchar(255),
                    height varchar(255),
                    weight integer,
                    league_id integer,
                    FOREIGN KEY (league_id) REFERENCES League(league_id)
            )
            """,
        """
        CREATE TABLE IF NOT EXISTS Matchstats (
                    id integer NOT NULL PRIMARY KEY,
                    league_id integer,
                    season varchar(255),
                    date varchar(255),
                    home_team_id integer,
                    away_team_id integer,
                    home_team_goal integer,
                    away_team_goal integer,
                    goals_info text[][],
                    card_info text[][],
                    corner_info text[][],
                    FOREIGN KEY (league_id) REFERENCES League(league_id)
            )
            """,
        """
        CREATE TABLE IF NOT EXISTS Player_attributes (
                    attribute_id SERIAL PRIMARY KEY, 
                    player_id integer,
                    season varchar(255),
                    date varchar(255),
                    overall_rating integer,
                    potential integer,
                    preferred_foot varchar(255),
                    attacking_work_rate varchar(255),
                    defensive_work_rate varchar(255),
                    crossing varchar(255),
                    finishing varchar(255),
                    heading_accuracy varchar(255),
                    short_passing varchar(255),
                    volleys varchar(255),
                    dribbling varchar(255),
                    curve varchar(255),
                    free_kick_accuracy varchar(255),
                    long_passing varchar(255),
                    ball_control varchar(255),
                    acceleration varchar(255),
                    sprint_speed varchar(255),
                    agility varchar(255),
                    reactions varchar(255),
                    balance varchar(255),
                    shot_power varchar(255),
                    jumping varchar(255),
                    stamina varchar(255),
                    strength varchar(255),
                    long_shots varchar(255),
                    aggression varchar(255),
                    interceptions varchar(255),
                    positioning varchar(255),
                    vision varchar(255),
                    penalties varchar(255),
                    marking varchar(255),
                    standing_tackle varchar(255),
                    sliding_tackle varchar(255),
                    gk_diving varchar(255),
                    gk_handling varchar(255),
                    gk_kicking varchar(255),
                    gk_positioning varchar(255),
                    gk_reflexes varchar(255),
                    FOREIGN KEY (player_id) REFERENCES Player(player_id)
            )
            """      
        
        )
    try:
        for command in commands:
            cursor.execute(command)
            print("table is created successfully...!")
    except ps.OperationalError as err:
        # pass exception to function
        show_psycopg2_exception(err)
        # set the connection to 'None' in case of error
        conn = None

In [102]:
#Insert into league table
def insert_into_league_table(curr, league_id, league_name):
    insert_into_league = ("""INSERT INTO League (league_id, league_name)
    VALUES(%s,%s);""")
    row_to_insert = (league_id, league_name)
    curr.execute(insert_into_league, row_to_insert)

In [103]:
def append_from_league_df_to_db(curr,df):
    for i, row in df.iterrows():
        insert_into_league_table(curr, row['league_id'], row['league_name'])

In [104]:
#Insert into Team table
def insert_into_team_table(curr, team_id, team_short_name,team_long_name,league_id):
    insert_into_team = ("""INSERT INTO Team (team_id, team_short_name,team_long_name,league_id)
    VALUES(%s,%s,%s,%s);""")
    row_to_insert = (team_id, team_short_name,team_long_name,league_id)
    curr.execute(insert_into_team, row_to_insert)

In [105]:
def append_from_team_df_to_db(curr,df):
    for i, row in df.iterrows():
        insert_into_team_table(curr, row['team_id'], row['team_short_name'],row['team_long_name'],row['league_id'])

In [106]:
#Insert into players table player_id,player_name,birthday,height,weight,league_id
def insert_into_player_table(curr, player_id,player_name,birthday,height,weight,league_id):
    insert_into_player = ("""INSERT INTO Player (player_id,player_name,birthday,height,weight,league_id)
    VALUES(%s,%s,%s,%s,%s,%s);""")
    row_to_insert = (player_id,player_name,birthday,height,weight,league_id)
    curr.execute(insert_into_player, row_to_insert)

In [107]:
def append_from_player_df_to_db(curr,df):
    for i, row in df.iterrows():
        insert_into_player_table(curr, row['player_id'], row['player_name'],row['birthday'],row['height'],row['weight'],row['league_id'])

In [108]:
#Insert into matchstats id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info
def insert_into_matchstats_table(curr, stat_id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info):
    insert_into_matchstat = ("""INSERT INTO Matchstats (id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info)
    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);""")
    row_to_insert = (stat_id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info)
    curr.execute(insert_into_matchstat, row_to_insert)

In [109]:
def append_from_matstat_df_to_db(curr,df):
    for i, row in df.iterrows():
            insert_into_matchstats_table(curr, row['id'],row['league_id'],row['season'],row['date'],row['home_team_id'],row['away_team_id'],row['home_team_goal'],row['away_team_goal'],row['goals_info'],row['card_info'],row['corner_info'])

In [110]:
#Insert into player attributes player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,
#crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,
#sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,
#penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes

def insert_into_player_attributes_table(curr, player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,
                                        crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,
                                        sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,
                                        penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
                                       ):
    insert_into_player_attributes = ("""INSERT INTO Player_attributes (player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,
                                        crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,
                                        sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,
                                        penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes)
    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);""")
    row_to_insert = (
        player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,
                                        crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,
                                        sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,
                                        penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
    )
    curr.execute(insert_into_player_attributes, row_to_insert)

In [111]:
def append_from_player_attribute_df_to_db(curr,df):
    for i, row in df.iterrows():
            insert_into_player_attributes_table(curr, row['player_id'],row['date'],row['overall_rating'],row['potential'],row['preferred_foot'],row['attacking_work_rate'],row['defensive_work_rate'],
                                        row['crossing'],row['finishing'],row['heading_accuracy'],row['short_passing'],row['volleys'],row['dribbling'],row['curve'],row['free_kick_accuracy'],row['long_passing'],row['ball_control'],row['acceleration'],
                                        row['sprint_speed'],row['agility'],row['reactions'],row['balance'],row['shot_power'],row['jumping'],row['stamina'],row['strength'],row['long_shots'],row['aggression'],row['interceptions'],row['positioning'],row['vision'],
                                        row['penalties'],row['marking'],row['standing_tackle'],row['sliding_tackle'],row['gk_diving'],row['gk_handling'],row['gk_kicking'],row['gk_positioning'],row['gk_reflexes']
                                               )

In [134]:
#database credentials
host_name = 'ec2-34-230-198-12.compute-1.amazonaws.com'
dbname = 'decsrosnt2dhh0'
port = '5432'
username = 'tenaddwnkksfdp' 
password = '896ad4f701a6055ba52613149b853c90331cf9ff6d4f69ea842c6e452800315c'
conn = None

#host_name = 'localhost'
#dbname = 'european_football_leagues_db'
#port = '5433'
#username = 'postgres' 
#password = 'tony88179'
#conn = None

#establish a connection to db
conn = connect_to_db(host_name, dbname, port, username, password)

Connected...!

In [135]:
curr = conn.cursor()

In [119]:
create_tables(curr)

table is created successfully...!
table is created successfully...!
table is created successfully...!
table is created successfully...!
table is created successfully...!
table is created successfully...!

In [120]:
conn.commit()

In [121]:
#sites_result = curr.fetchall()

In [122]:
curr.close()
conn.close()

In [128]:
league_df

      league_id             league_name
0          4769          France Ligue 1
10         1729  England Premier League
28         7809   Germany 1. Bundesliga
44        21518         Spain LIGA BBVA
84        10257           Italy Serie A
1332      13274  Netherlands Eredivisie

In [129]:
#conn.setAutoCommit(true)

In [136]:
#Insert into leagues table
append_from_league_df_to_db(curr,league_df)

UniqueViolation: duplicate key value violates unique constraint "league_pkey"
DETAIL:  Key (league_id)=(4769) already exists.

In [131]:
conn.commit()

In [138]:
curr.close()
conn.close()

In [133]:
teams_df1

      team_id team_short_name            team_long_name  league_id
0        9837             REI            Stade de Reims       4769
1        7794             BAS                 SC Bastia       4769
2        4087             ETG  Évian Thonon Gaillard FC       4769
3        9747             GUI      En Avant de Guingamp       4769
4       10249             MON    Montpellier Hérault SC       4769
...       ...             ...                       ...        ...
1345     8674             GRO              FC Groningen      13274
1348     9908             UTR                FC Utrecht      13274
1352     8277             VIT                   Vitesse      13274
1356     8611             TWE                 FC Twente      13274
1357     8640             PSV                       PSV      13274

[116 rows x 4 columns]

In [141]:
#Insert into team table
append_from_team_df_to_db(curr,teams_df1)

In [142]:
conn.commit()

In [143]:
curr.close()
conn.close()

In [114]:
rearranged_players_df

      player_id         player_name    birthday  height  weight  league_id
0        155782     Aaron Cresswell  1989-12-15  170.18     146       1729
1         27316          Aaron Hunt  1986-09-04  182.88     161       7809
2         30895        Aaron Lennon  1987-04-16  165.10     139       1729
3        101042       Aaron Meijers  1987-10-28  175.26     170      13274
4         40719        Aaron Niguez  1989-04-26  170.18     143      21518
...         ...                 ...         ...     ...     ...        ...
2693      35724  Zlatan Ibrahimovic  1981-10-03  195.58     209       4769
2694      42860    Zlatko Junuzovic  1987-09-26  172.72     152       7809
2695     107281      Zoltan Stieber  1988-10-16  175.26     148       7809
2696     282473      Zouhair Feddal  1989-01-01  190.50     172      10257
2697      26357      Zoumana Camara  1979-04-03  182.88     168       4769

[2698 rows x 6 columns]

In [115]:
#Insert into players table
append_from_player_df_to_db(curr,rearranged_players_df)

In [116]:
conn.commit()

In [117]:
curr.close()
conn.close()

In [118]:
matchstats_df

,id,league_id,season,date,home_team_id,away_team_id,home_team_goal,away_team_goal,goals_info,card_info,corner_info
0,7049,4769,2014/2015,08/08/2014 00:00,9837,9847,2,2,"[[22, 94321, 89476, n], [34, 46653, 159839, n]...","[[73, 190972, y], [88, 242958, y]]","[[15, 26852, 3631175], [44, 26852, 3631254], [..."
1,7050,4769,2014/2015,09/08/2014 00:00,7794,8592,3,3,"[[9, 192711, 0, n], [17, 31014, 0, o], [66, 21...","[[19, 42693, y], [64, 280965, y], [82, 40197, ...","[[20, 254308, 3633773], [20, 254308, 3633779],..."
2,7051,4769,2014/2015,09/08/2014 00:00,4087,7819,0,3,"[[12, 319300, 289155, n], [32, 210466, 0, n], ...","[[48, 35121, y], [90, 128666, y]]","[[19, 46757, 3633745], [21, 74169, 3633777], [..."
3,7052,4769,2014/2015,09/08/2014 00:00,9747,9853,0,2,"[[39, 26374, 0, p], [90, 26374, 0, n]]","[[38, 277412, y], [55, 94323, y], [73, 26051, ...","[[20, 46349, 3633760], [23, 46349, 3633804], [..."
4,7056,4769,2014/2015,09/08/2014 00:00,10249,9827,0,1,"[[17, 40707, 352833, n]]","[[7, 139635, y], [33, 154230, y], [63, 355901,...","[[13, 166019, 3633661], [30, 25525, 3633915], ..."
...,...,...,...,...,...,...,...,...,...,...,...
1885,12827,10257,2014/2015,31/05/2015 00:00,8636,8534,4,3,"[[49, 30991, 282770, n], [53, 282770, 239219, ...","[[63, 365624, y], [67, 41688, y], [84, 21446, ...","[[6, 21446, 4532573], [22, 21446, 4532792], [3..."
1886,12828,10257,2014/2015,31/05/2015 00:00,7943,10233,3,1,"[[4, 364520, 27685, n], [19, 166595, 364520, n...","[[7, 113318, y], [27, 154239, y], [64, 52243, ...","[[14, 195199, 4532690], [30, 161015, 4532894],..."
1887,12831,10257,2014/2015,31/05/2015 00:00,8686,8540,1,2,"[[85, 30714, 41433, n], [35, 270774, 0, p], [9...","[[56, 103266, y], [68, 108401, y], [77, 41874,...","[[20, 270774, 4532699], [21, 270774, 4532707],..."
1888,12832,10257,2014/2015,31/05/2015 00:00,9882,10167,2,2,"[[54, 362195, 317156, n], [79, 25587, 33639, n...","[[78, 50449, y]]","[[4, 317156, 4532547], [7, 39367, 4532589], [2..."
1889,12833,10257,2014/2015,31/05/2015 00:00,8529,8600,4,3,"[[13, 79253, 0, n], [19, 203739, 192079, n], [...","[[16, 279873, y], [28, 19249, y], [54, 401095,...","[[25, 422685, 4532049], [37, 422685, 4532103],..."

In [121]:
append_from_matstat_df_to_db(curr,matchstats_df)

In [122]:
conn.commit()

In [123]:
curr.close()
conn.close()

In [126]:
player_attributes_df1

,player_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,155782,2015-12-24,73,75,left,high,medium,79.0,51.0,57.0,...,65.0,59.0,76.0,75.0,78.0,14.0,7.0,9.0,9.0,12.0
1,27316,2015-09-25,77,77,left,medium,medium,77.0,72.0,64.0,...,76.0,81.0,28.0,34.0,35.0,15.0,12.0,7.0,16.0,15.0
2,30895,2015-10-16,77,77,right,high,medium,78.0,66.0,28.0,...,73.0,62.0,30.0,34.0,35.0,14.0,7.0,7.0,16.0,11.0
3,101042,2015-12-03,69,69,left,medium,medium,63.0,42.0,59.0,...,71.0,56.0,67.0,68.0,65.0,7.0,15.0,7.0,10.0,15.0
4,40719,2015-12-17,71,73,left,medium,medium,64.0,67.0,54.0,...,62.0,67.0,36.0,31.0,37.0,14.0,13.0,9.0,15.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2693,35724,2015-09-21,89,89,right,medium,low,76.0,90.0,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
2694,42860,2015-11-26,78,78,right,high,high,86.0,66.0,58.0,...,78.0,70.0,69.0,70.0,65.0,15.0,9.0,11.0,15.0,8.0
2695,107281,2015-11-06,73,74,left,medium,medium,69.0,71.0,45.0,...,73.0,65.0,26.0,31.0,32.0,6.0,6.0,9.0,16.0,7.0
2696,282473,2015-11-06,75,77,left,medium,medium,60.0,40.0,73.0,...,47.0,48.0,78.0,79.0,68.0,13.0,14.0,12.0,10.0,8.0
2697,26357,2015-03-06,73,73,right,low,medium,42.0,27.0,74.0,...,52.0,50.0,76.0,77.0,72.0,14.0,10.0,11.0,8.0,12.0

In [136]:
append_from_player_attribute_df_to_db(curr,player_attributes_df1)

In [137]:
conn.commit()

In [138]:
curr.close()
conn.close()